{% import "macros/macros.html" as macros %}
{% import "macros/utils_macros.html" as utils_macros %}
<h1><a href="{{ question.get_absolute_url() }}">{{ question.get_question_title() }}</a></h1>
<table style="width:100%;" id="question-table" {% if question.deleted %}class="deleted"{%endif%}>
    <tr>
        <td style="width:30px;vertical-align:top">
            <div class="vote-buttons">
                {% include "widgets/question_vote_buttons.html"%} 
                {% include "widgets/share_buttons.html"%} 
            </div>
        </td>
        <td>
            <div class="question-body">
                {{question.html}}
            </div>
            <ul id="question-tags" class="post-tags tags">
                {% for tag in question.get_tag_names() %}
                    {{ macros.tag_widget(
                            tag,
                            css_class = 'post-tag',
                            html_tag = 'li'
                        )
                    }}
                {% endfor %}
            </ul>
            <div id="question-controls" class="post-controls">
              {% include "widgets/question_controls.html" %} 
            </div>
            <div class="post-update-info-container">
                    {{ 
                        macros.post_contributor_info(
                                        question,
                                        "original_author",
                                        question.wiki,
                                        settings.MIN_REP_TO_EDIT_WIKI
                                    )
                    }}
                    {{ 
                        macros.post_contributor_info(
                                        question,
                                        "last_updater",
                                        question.wiki,
                                        settings.MIN_REP_TO_EDIT_WIKI,
                                    )
                    }}
            </div>
            {{
                macros.post_comments_widget(
                        post = question,
                        show_post = show_post,
                        show_comment = show_comment,
                        comment_order_number = comment_order_number,
                        user = request.user,
                        max_comments = settings.MAX_COMMENTS_TO_SHOW
                    )
            }}
            <!--/div-->
        </td>
    </tr>
</table>
{% if question.closed %}
<div class="question-status" style="margin-bottom:15px">
<h3>{% trans close_reason=question.get_close_reason_display() %}The question has been closed for the following reason "{{ close_reason }}" by{% endtrans %} 
<a href="{{ question.closed_by.get_profile_url() }}">{{ question.closed_by.username }}</a> 
{% trans closed_at=question.closed_at %}close date {{closed_at}}{% endtrans %}</h3>
</div>
{% endif %}
{% if answers %}
    <div class="tabBar">
        <h2 id="sort-top">
        {% trans counter=answers|length %}
        {{counter}} Answer:
        {% pluralize %}
        {{counter}} Answers:
        {% endtrans %}
        </h2>
        <div class="tabsA">
            <a id="oldest" href="{{ question.get_absolute_url() }}?sort=oldest#sort-top" 
                title="{% trans %}oldest answers will be shown first{% endtrans %}"
            ><span>{% trans %}oldest answers{% endtrans %}</span></a>
            <a id="latest" href="{{ question.get_absolute_url() }}?sort=latest#sort-top" 
                title="{% trans %}newest answers will be shown first{% endtrans %}"
            ><span>{% trans %}newest answers{% endtrans %}</span></a>
            <a id="votes" href="{{ question.get_absolute_url() }}?sort=votes#sort-top" 
                title="{% trans %}most voted answers will be shown first{% endtrans %}"
            ><span>{% trans %}popular answers{% endtrans %}</span></a>   
        </div>
    </div>
    {{ utils_macros.paginator(paginator_context) }}

    {% for answer in answers %}
        <a name="{{ answer.id }}"></a>
        <div id="answer-container-{{ answer.id }}" class="answer {% if answer.accepted %}accepted-answer{% endif %} {% if answer.author_id==question.author_id %} answered-by-owner{% endif %} {% if answer.deleted %}deleted{% endif %}">
            <table style="width:100%;" class="answer-table">
                <tr>
                    <td style="width:30px;vertical-align:top">
                        <div class="vote-buttons">
                            <img id="answer-img-upvote-{{ answer.id }}" class="answer-img-upvote" 
                                {% if user_answer_votes[answer.id] == 1 %}
                                    src="{{'/images/vote-arrow-up-on.png'|media}}" 
                                {% else %}
                                    src="{{'/images/vote-arrow-up.png'|media}}" 
                                {% endif %}
                                alt="{% trans %}i like this answer (click again to cancel){% endtrans %}"
                                title="{% trans %}i like this answer (click again to cancel){% endtrans %}"/>
                            <div id="answer-vote-number-{{ answer.id }}" class="vote-number" title="{% trans %}current number of votes{% endtrans %}">
                                {{ answer.score }}
                            </div>
                            <img id="answer-img-downvote-{{ answer.id }}" class="answer-img-downvote" 
                                {% if user_answer_votes[answer.id] == -1 %}
                                    src="{{'/images/vote-arrow-down-on.png'|media}}" 
                                {% else %}
                                    src="{{'/images/vote-arrow-down.png'|media}}" 
                                {% endif %}
                                alt="{% trans %}i dont like this answer (click again to cancel){% endtrans %}"
                                title="{% trans %}i dont like this answer (click again to cancel){% endtrans %}" />
                            {% if request.user == question.author %}
                            <img id="answer-img-accept-{{ answer.id }}" class="answer-img-accept" 
                                {% if answer.accepted %}
                                    src="{{'/images/vote-accepted-on.png'|media}}"
                                {% else %}
                                    src="{{'/images/vote-accepted.png'|media}}" 
                                {% endif %}
                                alt="{% trans %}mark this answer as favorite (click again to undo){% endtrans %}"
                                title="{% trans %}mark this answer as favorite (click again to undo){% endtrans %}" />
                            {% else %}
                                {% if answer.accepted %}
                                <img id="answer-img-accept-{{ answer.id }}" class="answer-img-accept" 
                                    {% if answer.accepted %}
                                        src="{{'/images/vote-accepted-on.png'|media}}"
                                    {% else %}
                                        src="{{'/images/vote-accepted.png'|media}}"
                                    {% endif %}
                                    alt="{% trans question_author=question.author.username %}{{question_author}} has selected this answer as correct{% endtrans %}"
                                    title="{% trans questsion_author=question.author.username%}{{question_author}} has selected this answer as correct{% endtrans %}"
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                    <td>
                        <div class="item-right">
                            <div class="answer-body">
                                {{ answer.html }}
                            </div>
                            <div class="answer-controls post-controls">
                              {% include "widgets/answer_controls.html" %} 
                            </div>
                            <div class="post-update-info-container">
                                    {{
                                        macros.post_contributor_info(
                                            answer,
                                            "original_author",
                                            answer.wiki,
                                            settings.MIN_REP_TO_EDIT_WIKI
                                        )
                                    }}
                                    {{ 
                                        macros.post_contributor_info(
                                            answer,
                                            "last_updater",
                                            answer.wiki,
                                            settings.MIN_REP_TO_EDIT_WIKI
                                        )
                                    }}
                            </div>
                            {{
                                macros.post_comments_widget(
                                        post = answer,
                                        show_post = show_post,
                                        show_comment = show_comment,
                                        comment_order_number = comment_order_number,
                                        user = request.user,
                                        max_comments = settings.MAX_COMMENTS_TO_SHOW
                                    )
                            }}
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    {% endfor %}
    {{ utils_macros.paginator(paginator_context) }}
{% else %}
    {% set question_url=settings.APP_URL+question.get_absolute_url()|urlencode %}
    <h2 class="share-question">{% trans %}Know someone who can answer?  Share a <a href="{{ question_url }}">link</a> to this question via{% endtrans %}
        {% if settings.ENABLE_SHARING_TWITTER %}{{ macros.share(site = 'twitter', site_label = 'Twitter') }},{% endif %}
        {% if settings.ENABLE_SHARING_FACEBOOK %}{{ macros.share(site = 'facebook', site_label = 'Facebook') }},{% endif %}
        {% if settings.ENABLE_SHARING_LINKEDIN %}{{ macros.share(site = 'linkedin', site_label = 'LinkedIn') }},{% endif %}
        {% if settings.ENABLE_SHARING_IDENTICA %}{{ macros.share(site = 'identica', site_label = 'Identi.ca') }},{% endif %}
        {%- if settings.ENABLE_SHARING_TWITTER or settings.ENABLE_SHARING_FACEBOOK or settings.ENABLE_SHARING_LINKEDIN or settings.ENABLE_SHARING_IDENTICA -%}
            {% trans %} or{% endtrans %}
        {% endif %}
        <a href="mailto:?subject={{ settings.APP_SHORT_NAME|urlencode }}&amp;body={{ question_url }}">{% trans %}email{% endtrans %}</a>.
    </h2>
{% endif %}
<form 
    id="fmanswer"
    {% if user == question.author %}style="display:none"{% endif %}
    action="{% url answer question.id %}"
    method="post"
>{% csrf_token %}
    {% if request.user.is_authenticated() %}
        <p style="padding-left:3px">
        {{ answer.email_notify }} 
        <label for="question-subscribe-updates">
        {% set email_feed_frequency = request.user.get_followed_question_alert_frequency() %}
        {% if email_feed_frequency =='n' %}
            {% trans %}Notify me once a day when there are any new answers{% endtrans %}
        {% elif email_feed_frequency =='d' %}
            {% trans %}Notify me once a day when there are any new answers{% endtrans %}
        {% elif email_feed_frequency =='w' %}
            {% trans %}Notify me weekly when there are any new answers{% endtrans %}
        {% elif email_feed_frequency =='i' %}
            {% trans %}Notify me immediately when there are any new answers{% endtrans %}
        {% endif %}
        </label>
        {% trans profile_url=request.user.get_profile_url() %}You can always adjust frequency of email updates from your {{profile_url}}{% endtrans %}
        </p>
    {% else %}
        <p style="padding-left:3px">
            {{ answer.email_notify }} 
            <label>{% trans %}once you sign in you will be able to subscribe for any updates here{% endtrans %}</label>
        </p>
    {% endif %}
    <div style="clear:both">
    </div>
    {% if request.user.is_anonymous() and settings.ALLOW_POSTING_BEFORE_LOGGING_IN == False %}
        {% if not question.closed %}
            <a 
                class="submit"
                href="{{settings.LOGIN_URL}}?next={% url question question.id %}"
            >{% trans %}Login/Signup to Answer{% endtrans %}</a>
        {% endif %}
    {% else %}
        {% if not question.closed %}
            <div style="padding:10px 0 0 0;">
                {% spaceless %}
                <h2>
                    {% if answers %}
                        {% trans %}Your answer{% endtrans %}
                    {% else %}
                        {% trans %}Be the first one to answer this question!{% endtrans %}
                    {% endif %}
                </h2>
                {% endspaceless %}
            </div>
            {% if request.user.is_anonymous() %}
                <div class="message">{% trans %}you can answer anonymously and then login{% endtrans %}</div>
            {% else %}
                <p class="message">
                    {% if request.user==question.author  %}
                        {% trans %}answer your own question only to give an answer{% endtrans %}
                    {% else %}
                        {% trans %}please only give an answer, no discussions{% endtrans %}
                    {% endif %}
                </p>
            {% endif %}
            {{ macros.edit_post(answer) }}
            <input type="submit" 
                {% if user.is_anonymous() %}
                    value="{% trans %}Login/Signup to Post Your Answer{% endtrans %}" 
                {% else %}
                    {% if user == question.author %}
                        value="{% trans %}Answer Your Own Question{% endtrans %}" 
                    {% else %}
                        value="{% trans %}Answer the question{% endtrans %}" 
                    {% endif %}
                {% endif %}
                class="submit after-editor" style="float:left"/>
                {% if settings.WIKI_ON %}
                    {{ macros.checkbox_in_div(answer.wiki) }}
                {% endif %}
        {% endif %}
    {% endif %}
    </form>
    {% if request.user == question.author %}
    <input type="button" class="submit after-editor" id="fmanswer_button"  value="{% trans %}Answer Your Own Question{% endtrans %}"/>
    {%endif%}

