<h1><a href="{{ question.get_absolute_url() }}">{{ question.get_question_title() }}</a></h1>
<table id="question-table" {% if question.deleted %}class="deleted"{%endif%}>
    <tr>
        <td>
            <div class="vote-buttons">
                {% include "widgets/question_vote_buttons.html"%} 
                {% include "widgets/share_buttons.html"%} 
            </div>
        </td>
        <td>
            <div class="question-body">
                {{question.html}}
            </div>
            {% include "question/question_tags.html" %}
            <div id="question-controls" class="post-controls">
                {% include "widgets/question_controls.html" %} 
            </div>
            <div class="post-update-info-container">
                {% include "question/question_author_info.html" %}
            </div>
            {% include "question/question_comments.html" %}
        </td>
    </tr>
</table>
