<!-- template header.html -->
{% load extra_tags %}
{% load i18n %}
	<div id="roof">
		<div id="navBar">
			<div id="top">
                {% if request.user.is_authenticated %}
                    <a href="{% url users %}{{ request.user.id }}/{{ request.user.username }}/">{{ request.user.username }}</a> {% get_score_badge request.user %} 
                    <a href="{% url logout %}">{% trans "logout" %}</a>
                {% else %}
                    <a href="{% url auth_signin %}">{% trans "login" %}</a>
                {% endif %}
                <a href="{% url about %}">{% trans "about" %}</a>
                <a href="{% url faq %}">{% trans "faq" %}</a>
			</div>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td width="23%">
					<div id="logo">
						<a href="{% url index %}">
							<img src="{% media  "/media/images/logo.png" %}" title="{% trans "back to home page" %}" alt="{{settings.APP_TITLE}} logo"/>
						</a>
					</div>
            	</td>
				<td width="77%" valign="bottom">
                <div class="nav">
                    <a id="nav_questions" href="{% url questions %}" >{% trans "questions" %}</a>
                    <a id="nav_tags" href="{% url tags %}">{% trans "tags" %}</a>
                    <a id="nav_users" href="{% url users %}">{% trans "users" %}</a>
                    {% if settings.BOOKS_ON %}
                    <a id="nav_books" href="{% url books %}">{% trans "books" %}</a>
                    {% endif %}
                    <a id="nav_badges" href="{% url badges %}">{% trans "badges" %}</a>
                    <a id="nav_unanswered" href="{% url unanswered %}">{% trans "unanswered questions" %}</a>
                    <div class="focus">
                    <a id="nav_ask" href="{% url ask %}" class="special">{% trans "ask a question" %}</a>
                    </div>
                </div>

              </td>
			  </tr>
			</table>
		</div>
		<div id="searchBar">
			<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content">
            <tr>
                <td align="center" valign="middle">
                    <form action="{% url search %}" method="get">
                        <div>
                            <input type="text" class="searchInput" value="{{ keywords }}" name="q" id="keywords" />
                            <input type="submit" name="Submit" value="{% trans "search" %}" class="searchBtn" />
                        </div>
                        <div class="options">
                            <input id="type-question" type="radio" value="question" name="t" 
                                checked="checked" /><label for="type-question">{% trans "questions" %}</label>
                            <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">{% trans "tags" %}</label>
                            <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">{% trans "users" %}</label>
                        </div>
                    </form>
                </td>
            </tr>
			</table>
		</div>
	</div>
<!-- end template header.html -->
