<!-- template header.html -->
{% load extra_tags %}
{% load smart_if %}
{% load i18n %}
	<div id="roof">
		<div id="navBar">
			<div id="top">
                {% if request.user.is_authenticated %}
                    <a href="{% url user_profile id=request.user.id,slug=request.user.username|slugify %}">{{ request.user.username }}</a> {% get_score_badge request.user %} 
                    <a href="{% url logout %}">{% trans "logout" %}</a>
                {% else %}
                    <a href="{% url user_signin %}">{% trans "login" %}</a>
                {% endif %}
                <a href="{% url about %}">{% trans "about" %}</a>
                <a href="{% url faq %}">{% trans "faq" %}</a>
			</div>
			<table border="0" cellspacing="0" cellpadding="0">
			  <tr>
        <td id="logoContainer">
            <div id="logo">
                <a href="{% url questions %}?start_over=true"><img 
                    src="{% media  "/media/images/logo.gif" %}" title="{% trans "back to home page" %}" alt="{{settings.APP_TITLE}} logo"/></a>
            </div>
        </td>
        <td id="navTabContainer" valign="bottom" align="left">
            <div class="nav">
                <a id="nav_questions" href="{% url questions %}" >{% trans "questions" %}</a>
                <a id="nav_tags" href="{% url tags %}">{% trans "tags" %}</a>
                <a id="nav_users" href="{% url users %}">{% trans "users" %}</a>
                {% if settings.BOOKS_ON %}
                <a id="nav_books" href="{% url books %}">{% trans "books" %}</a>
                {% endif %}
                <a id="nav_badges" href="{% url badges %}">{% trans "badges" %}</a>
                <a id="nav_ask" href="{% url ask %}" class="special">{% trans "ask a question" %}</a>
                {% comment %}
                <a id="nav_unanswered" href="{% url unanswered %}">{% trans "unanswered questions" %}</a>
                <div class="focus">
                <a id="nav_ask" href="{% url ask %}" class="special">{% trans "ask a question" %}</a>
                </div>
                {% endcomment %}
            </div>
        </td>
			  </tr>
			</table>
		</div>
	</div>
<!-- end template header.html -->
