{% extends "base.html" %}
<!-- index.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% load extra_filters %}
{% load smart_if %}
{% block title %}{% spaceless %}{% trans "Home" %}{% endspaceless %}{% endblock %}
{% block meta %}<meta name="keywords" content="{{ settings.APP_KEYWORDS }}" />
        <meta name="description" content="{{ settings.APP_DESCRIPTION }}" />{% endblock %}
{% block forejs %}
       <script type="text/javascript">
           var tags = {{ tags_autocomplete|safe }};
           $().ready(function(){
               var tab_id = "{{ tab_id }}";
               $("#"+tab_id).attr('className',"on");
               $("#nav_questions").attr('className',"on");
           });
       </script>
       <script type='text/javascript' src='{% media  "/media/js/com.cnprog.editor.js" %}'></script>
       <script type='text/javascript' src='{% media  "/media/js/com.cnprog.tag_selector.js" %}'></script>
{% endblock %}
{% block content %}
<div class="tabBar">
    <div class="headQuestions">{% trans "Questions" %}</div>
    <div class="tabsA">
    	 <a id="latest" href="{% url questions %}?sort=latest" title="{% trans "last updated questions" %}" >{% trans "newest" %}</a>
        <a id="hottest" href="{% url questions %}?sort=hottest" title="{% trans "hottest questions" %}" >{% trans "hottest" %}</a>
        <a id="mostvoted" href="{% url questions %}?sort=mostvoted" title="{% trans "most voted questions" %}" >{% trans "most voted" %}</a>
        <a id="all" href="{% url questions %}" title="{% trans "all questions" %}" >{% trans "all questions" %}</a>
    </div>
</div>
<!-- ???? -->
<div id="listA">
    	{% for question in questions.object_list %}
	<div class="short-summary">
		<div class="counts">
			<div class="votes">
				<div class="item-count">{{question.score|intcomma}}</div>
				<div>{% trans "votes" %}</div>
			</div >
			<div {% if question.answer_accepted %}title="{% trans "this answer has been accepted to be correct" %}"{% endif %} class="status {% if question.answer_accepted %}answered-accepted{% endif %} {% ifequal question.answer_count 0 %}unanswered{% endifequal %}{% ifnotequal question.answer_count 0 %}answered{% endifnotequal %}">
				<div class="item-count">{{question.answer_count|intcomma}}</div>
				<div>{% trans "answers" %}</div>
			</div>
			<div class="views">
				 <div class="item-count">{{question.view_count|cnprog_intword|safe}}</div>
				 <div>{% trans "views" %}</div>
			</div>
		</div>

		<h2><a title="{{question.summary}}" href="{% url question id=question.id %}{{question.title|slugify}}">{{question.title}}</a></h2>

		<div class="userinfo">
			<span class="relativetime" title="{{question.last_activity_at}}">{% diff_date question.last_activity_at %}</span>
			{% if question.last_activity_by %}
			<a href="/users/{{ question.last_activity_by.id }}/{{ question.last_activity_by.username|slugify }}/">{{ question.last_activity_by }}</a> {% get_score_badge question.last_activity_by %}
			{% endif %}
		</div>

		<div class="tags">
			{% for tag in question.tagname_list %}
			<a href="{% url tag_questions tag|urlencode %}" title="{% trans "see questions tagged" %} '{{ tag }}' {% trans "using tags" %}" rel="tag">{{ tag }}</a>
			{% endfor %}
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}

{% block sidebar %}
{% if not request.user.is_authenticated %}
<div class="boxA">
	<h3>{% trans "welcome to website" %}</h3>
	<div class="body">
      {{ settings.APP_INTRO|safe }}
	  <div class="more"><a href="{% url about %}">{% trans "about" %} </a></div>
	  <div class="more"><a href="{% url faq %}">{% trans "faq" %} </a></div>
	</div>
</div>
{% else %}
{% include "tag_selector.html" %}
{% endif %}
<div class="boxC">
	<h3>{% trans "Recent tags" %}</h3>
	<div class="body">
         <div class="tags">
        {% for tag in tags %}
            <a rel="tag"
				title="{% blocktrans with tag.name as tagname %}see questions tagged '{{tagname}}'{% endblocktrans %}" href="{% url tag_questions tag.name|urlencode %}">{{ tag.name }}</a>
        {% endfor %}
        </div>
        <div class="more"><a href="{% url tags %}">{% trans "popular tags" %} </a> </div>
    </div>
</div>
{% if awards %}
<div class="boxC">
    <h3>{% trans "Recent awards" %}</h3>
        <div class="body">
             <ul class="badge-list">
             {% for award in awards %}
                <li>
                <a href="{% url badges %}{{award.badge_id}}/{{award.badge_name}}" title="{{ award.badge_description }}" class="medal">
                <span class="badge{{ award.badge_type }}">&#9679;</span>&nbsp;{{ award.badge_name }}</a> {% trans "given to" %}
                <a href="/users/{{ award.user_id }}/{{ award.user_name|slugify }}/">{{ award.user_name }}</a>
                </li>
            {% endfor %}
            </ul>
        	<div class="more"><a href="{% url badges %}">{% trans "all awards" %} </a> </div>
         </div>
</div>
{% endif %}
<div id="feeds">
<a href="{% media  "/feeds/rss" %}" title="{% trans "subscribe to last 30 questions by RSS" %}">{% trans "subscribe to the questions feed" %}</a>
</div>
{% endblock %}
{% block tail %}
<div class="pager">{% cnprog_paginator context %}</div>
    <div class="pagesize">{% cnprog_pagesize context %}</div>
<!-- <div style="padding:5px 0 5px 5px;">
<span class="evenMore">{% trans "Still looking for more? See" %} <a href="{% url questions %}">{% trans "complete list of questions" %}</a> {% trans "or" %} <a href="{% url tags %}">{% trans "popular tags" %}</a>{% trans "." %} {% trans "Please help us answer" %} <a href="{% url questions %}unanswered">{% trans "list of unanswered questions" %}</a>{% trans "." %}</span>
</div> -->
{% endblock %}
<!-- index.html -->