{% extends "base.html" %}
<!-- index.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% load extra_filters %}
{% load smart_if %}
{% load cache %}
{% block title %}{% spaceless %}{% trans "Home" %}{% endspaceless %}{% endblock %}
{% block meta %}<meta name="keywords" content="{{ settings.APP_KEYWORDS }}" />
        <meta name="description" content="{{ settings.APP_DESCRIPTION }}" />{% endblock %}
{% block forejs %}
       <script type="text/javascript">
           var tags = {{ tags_autocomplete|safe }};
           $().ready(function(){
               var tab_id = "{{ tab_id }}";
               $("#"+tab_id).attr('className',"on");
               $("#nav_questions").attr('className',"on");
           });
       </script>
       <script type='text/javascript' src='{% media  "/media/js/com.cnprog.editor.js" %}'></script>
       <script type='text/javascript' src='{% media  "/media/js/com.cnprog.tag_selector.js" %}'></script>
{% endblock %}
{% block content %}
<div class="tabBar">
    <div class="headQuestions">{% trans "Questions" %}</div>
    <div class="tabsA">
    	 <a id="latest" href="{% url questions %}?sort=latest" title="{% trans "last updated questions" %}" >{% trans "newest" %}</a>
        <a id="hottest" href="{% url questions %}?sort=hottest" title="{% trans "hottest questions" %}" >{% trans "hottest" %}</a>
        <a id="mostvoted" href="{% url questions %}?sort=mostvoted" title="{% trans "most voted questions" %}" >{% trans "most voted" %}</a>
        <a id="all" href="{% url questions %}" title="{% trans "all questions" %}" >{% trans "all questions" %}</a>
    </div>
</div>
<!-- ???? -->
{% include "question_list.html" %}
{% endblock %}

{% block sidebar %}
{% if not request.user.is_authenticated %}
<div class="boxA">
	<h3>{% trans "welcome to website" %}</h3>
	<div class="body">
      {{ settings.APP_INTRO|safe }}
	  <div class="more"><a href="{% url about %}">{% trans "about" %} </a></div>
	  <div class="more"><a href="{% url faq %}">{% trans "faq" %} </a></div>
	</div>
</div>
{% else %}
{% include "tag_selector.html" %}
{% endif %}
<div class="boxC">
	<h3>{% trans "Recent tags" %}</h3>
	<div class="body">
         <div class="tags">
        {% cache 60 recent_tags %}
        {% for tag in tags %}
            <a rel="tag"
				title="{% blocktrans with tag.name as tagname %}see questions tagged '{{tagname}}'{% endblocktrans %}" href="{% url tag_questions tag.name|urlencode %}">{{ tag.name }}</a>
        {% endfor %}
        {% endcache %}
        </div>
        <div class="more"><a href="{% url tags %}">{% trans "popular tags" %} </a> </div>
    </div>
</div>
{% if awards %}
<div class="boxC">
    <h3>{% trans "Recent awards" %}</h3>
        <div class="body">
             <ul class="badge-list">
             {% cache 60 recent_awards %}
             {% for award in awards %}
                <li>
                <a href="{% url badges %}{{award.badge_id}}/{{award.badge_name}}" title="{{ award.badge_description }}" class="medal">
                <span class="badge{{ award.badge_type }}">&#9679;</span>&nbsp;{{ award.badge_name }}</a>
                <a href="{% url user_profile award.user_id award.user_name|slugify %}">{{ award.user_name }}</a>
                </li>
            {% endfor %}
            {% endcache %}
            </ul>
        	<div class="more"><a href="{% url badges %}">{% trans "all awards" %} </a> </div>
         </div>
</div>
{% endif %}
<div id="feeds">
<a href="{% url  latest_questions_feed %}" title="{% trans "subscribe to last 30 questions by RSS" %}">{% trans "subscribe to the questions feed" %}</a>
</div>
{% endblock %}
{% block tail %}
<div class="pager">{% cnprog_paginator context %}</div>
    <div class="pagesize">{% cnprog_pagesize context %}</div>
<!-- <div style="padding:5px 0 5px 5px;">
<span class="evenMore">{% trans "Still looking for more? See" %} <a href="{% url questions %}">{% trans "complete list of questions" %}</a> {% trans "or" %} <a href="{% url tags %}">{% trans "popular tags" %}</a>{% trans "." %} {% trans "Please help us answer" %} <a href="{% url questions %}unanswered">{% trans "list of unanswered questions" %}</a>{% trans "." %}</span>
</div> -->
{% endblock %}
<!-- index.html -->
