{% load cache %}
{% load i18n %}
{% load humanize %}
{% load extra_filters %}
{% load extra_tags %}

{% for question in questions.object_list %}
<div class="short-summary">
    {% question_counter_widget question %}
    <h2><a title="{{question.summary}}" href="{% url question id=question.id %}{{question.title|slugify}}">{{question.title}}</a></h2>
    <div class="userinfo">
        <span class="relativetime" title="{{question.last_activity_at}}">{% diff_date question.last_activity_at %}</span>
        {% if question.last_activity_by %}
        &nbsp;<a href="{% url user_profile question.last_activity_by.id question.last_activity_by.username|slugify %}">{{ question.last_activity_by }}</a>&nbsp;{% get_score_badge question.last_activity_by %}
        {% endif %}
    </div>
    <div class="tags">
        {% for tag in question.tagname_list %}
        <a href="{% url questions %}?tags={{tag|urlencode}}" title="{% blocktrans %}see questions tagged '{{ tag }}'{%endblocktrans %}" rel="tag">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
