*.pyc
*.swp
*.log
cache/??
run
*.wsgi
nbproject
settings_local.py
settings.py
.idea
*.iml
lint
env
django
django/*
nbproject
pip-log.txt
tmp/*
/tmp/
/__init__.py
/manage.py
/urls.py
/log
load
askbot/skins/default/media/js/flot
askbot/skins/common/media/js/closure/google-closure
askbot/fixtures
*.egg
dist
*.egg-info
build
askbot/upfiles/*.jpg
askbot/upfiles/*.jpeg
askbot/upfiles/*.gif
askbot/upfiles/*.png
askbot/upfiles/avatars/
askbot/skins/common/media/mathjax/
/jinja2
*.tar.tz
run
recaptcha
