*.pyc
*.swp
*.log
cache/??
run
*.wsgi
nbproject
settings_local.py
.idea
*.iml
env
nbproject
pip-log.txt
*.zip
tmp/*
load
forum/skins/default/media/js/flot
forum/skins/common/media/js/closure/google-closure
forum/fixtures
