include ez_setup.py
recursive-include askbot *
recursive-exclude askbot *.pyc
recursive-exclude .git
prune dist
prune tmp
prune build
exclude settings.py
exclude manage.py
exclude __init__.py
exclude urls.py
exclude askbot/upfiles/*.*
recursive-exclude avatar *
recursive-exclude adzone *
