# encoding:utf-8
import os.path
from django.utils.translation import ugettext as _

SITE_SRC_ROOT = os.path.dirname(__file__) 
LOG_FILENAME = 'django.lanai.log'

#for logging
import logging
logging.basicConfig(filename=os.path.join(SITE_SRC_ROOT, 'log', LOG_FILENAME), level=logging.DEBUG,)

DATABASE_NAME = 'cnprog'             # Or path to database file if using sqlite3.
DATABASE_USER = ''               # Not used with sqlite3.
DATABASE_PASSWORD = ''               # Not used with sqlite3.
DATABASE_ENGINE = 'mysql'  #mysql, etc

#Moved from settings.py for better organization. (please check it up to clean up settings.py)

#email server settings
SERVER_EMAIL = ''
DEFAULT_FROM_EMAIL = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_SUBJECT_PREFIX = '[CNPROG] '
EMAIL_HOST='cnprog.com'
EMAIL_PORT='25'
EMAIL_USE_TLS=False

#LOCALIZATIONS
TIME_ZONE = 'America/Tijuana'

#OTHER SETTINGS
APP_TITLE = u'CNPROG Q&A Forum'
APP_KEYWORDS = u'CNPROG,forum,community'
APP_DESCRIPTION = u'Ask and answer questions.'
APP_INTRO = u'<p>Ask and answer questions, make the world better!</p>'
APP_COPYRIGHT = 'Copyright CNPROG, 2009. Some rights reserved under creative commons license.'

###########################
#
#   this will allow running your forum with url like http://site.com/forum
#
#   FORUM_SCRIPT_ALIAS = 'forum/'
#
#   also make sure to set '/':'/forum' in file templates/content/js/com.cnprog.i18n.js
#   this is necessary to make client scripts work in this configuration
#
FORUM_SCRIPT_ALIAS = '' #no leading slash, default = '' empty string

USE_I18N = True
LANGUAGE_CODE = 'en'
EMAIL_VALIDATION = 'off' #string - on|off
MIN_USERNAME_LENGTH = 1
EMAIL_UNIQUE = False
APP_URL = 'http://cnprog.com' #used by email notif system and RSS
GOOGLE_SITEMAP_CODE = '55uGNnQVJW8p1bbXeF/Xbh9I7nZBM/wLhRz6N/I1kkA='
GOOGLE_ANALYTICS_KEY = ''
BOOKS_ON = False 
WIKI_ON = True 
USE_EXTERNAL_LEGACY_LOGIN = False
EXTERNAL_LEGACY_LOGIN_HOST = 'login.cnprog.com'
EXTERNAL_LEGACY_LOGIN_PORT = 80
EXTERNAL_LEGACY_LOGIN_PROVIDER_NAME = '<span class="orange">CNPROG</span>'
FEEDBACK_SITE_URL = None #None or url
LOGIN_URL = '/%s%s%s' % (FORUM_SCRIPT_ALIAS,'account/','signin/')

DJANGO_VERSION = 1.1
RESOURCE_REVISION=4
