# encoding:utf-8
import os.path
from django.utils.translation import ugettext as _

SITE_SRC_ROOT = os.path.dirname(__file__)
LOG_FILENAME = 'askbot.log'

#for logging
import logging
logging.basicConfig(
    filename=os.path.join(SITE_SRC_ROOT, 'log', LOG_FILENAME),
    level=logging.DEBUG,
    format='%(pathname)s TIME: %(asctime)s MSG: %(filename)s:%(funcName)s:%(lineno)d %(message)s',
)

#ADMINS and MANAGERS
ADMINS = (('Forum Admin', 'forum@example.com'),)
MANAGERS = ADMINS

#DEBUG SETTINGS
DEBUG = False
TEMPLATE_DEBUG = DEBUG
INTERNAL_IPS = ('127.0.0.1',)

DATABASE_NAME = ''             # Or path to database file if using sqlite3.
DATABASE_USER = ''               # Not used with sqlite3.
DATABASE_PASSWORD = ''               # Not used with sqlite3.
DATABASE_ENGINE = ''  #mysql, etc
DATABASE_HOST = ''
DATABASE_PORT = ''

#setup memcached for production use!
#see http://docs.djangoproject.com/en/1.1/topics/cache/ for details
CACHE_BACKEND = 'locmem://'

#If you use memcache you may want to uncomment the following line to enable memcached based sessions
#SESSION_ENGINE = 'django.contrib.sessions.backends.cache_db'
# for user upload

ALLOW_FILE_TYPES = ('.jpg', '.jpeg', '.gif', '.bmp', '.png', '.tiff')
# unit byte
ALLOW_MAX_FILE_SIZE = 1024 * 1024

#email server settings
SERVER_EMAIL = ''
DEFAULT_FROM_EMAIL = ''
EMAIL_HOST_USER = ''
EMAIL_HOST_PASSWORD = ''
EMAIL_SUBJECT_PREFIX = '[ASKBOT] '
EMAIL_HOST='askbot.org'
EMAIL_PORT='25'
EMAIL_USE_TLS=False

#HACK - anonymous user email - for email-less users
ANONYMOUS_USER_EMAIL = 'anonymous@askbot.org'

#LOCALIZATIONS
TIME_ZONE = 'America/New_York'

###########################
#
#   this will allow running your forum with url like http://site.com/forum
#
#   FORUM_SCRIPT_ALIAS = 'forum/'
#
FORUM_SCRIPT_ALIAS = '' #no leading slash, default = '' empty string


#OTHER SETTINGS
APP_TITLE = u'ASKBOT: Open Source Q&A Forum'
APP_SHORT_NAME = u'ASKBOT'
APP_KEYWORDS = u'ASKBOT,CNPROG,forum,community'
APP_DESCRIPTION = u'Ask and answer questions.'
APP_INTRO = u'<p>Ask and answer questions, make the world better!</p>'
APP_COPYRIGHT = 'Copyright ASKBOT, 2009. Some rights reserved under creative commons license.'
LOGIN_URL = '/%s%s%s' % (FORUM_SCRIPT_ALIAS,'account/','signin/')
GREETING_URL = LOGIN_URL #may be url of "faq" page or "about", etc

USE_I18N = True
LANGUAGE_CODE = 'en'
EMAIL_VALIDATION = 'off' #string - on|off
MIN_USERNAME_LENGTH = 1
EMAIL_UNIQUE = False
APP_URL = 'http://askbot.org' #used by email notif system and RSS
GOOGLE_SITEMAP_CODE = ''
GOOGLE_ANALYTICS_KEY = ''
WIKI_ON = True
FEEDBACK_SITE_URL = None #None or url
EDITABLE_SCREEN_NAME = False #True or False - can user change screen name?

DJANGO_VERSION = 1.1
RESOURCE_REVISION=4

#please get these at recaptcha.net
RECAPTCHA_PRIVATE_KEY='...'
RECAPTCHA_PUBLIC_KEY='...'
ASKBOT_DEFAULT_SKIN = 'default'


#Facebook settings
USE_FB_CONNECT=False
FB_API_KEY='' #your api key from facebook
FB_SECRET='' #your application secret

USE_EXTERNAL_LEGACY_LOGIN = False #DO NOT USE, and do not delete this line, will be removed later
