{% spaceless %}
{% load smart_if %}
{% with wiki_user.user_name as user_name %}
<script type="text/javascript">
$wgUserName = '{{user_name}}';
$(document).ready(function(){
$('#p-personal div').html('\
<ul>\
<li id="pt-0"><a href="/wiki/index.php?title=User:{{user_name}}" class="new">{{user_name}}</a></li>\
<li id="pt-1"><a href="/wiki/index.php?title=UserWiki:{{user_name}}" class="new">my page</a></li>\
<li id="pt-mytalk"><a href="/wiki/index.php?title=User_talk:{{user_name}}" title="My talk page [n]" accesskey="n" class="new">My talk</a></li>\
<li id="pt-preferences"><a href="/wiki/index.php?title=Special:Preferences" title="My preferences">My preferences</a></li>\
<li id="pt-watchlist"><a href="/wiki/index.php?title=Special:Watchlist" title="The list of pages you\'re monitoring for changes [l]" accesskey="l">My watchlist</a></li>\
<li id="pt-mycontris"><a href="/wiki/index.php?title=Special:Contributions/{{user_name}}" title="List of my contributions [y]" accesskey="y">My contributions</a></li>\
<li id="pt-logout"><a href="/wiki/index.php?title=Special:Userlogout&amp;returnto=Special:UserRegister" title="Log out">Log out</a></li>\
</ul>\
');
});
</script>
{% endwith %}
{% if wiki_user.user_title == 'prof' %}
<script type="text/javascript">
    var documentTitle = 'Professor {{wiki_user.user_last_name}}, Welcome to Wiki!';
</script>
{% else %}
    {% if wiki_user.title == 'dr' %}
    <script type="text/javascript">
        var documentTitle = 'Dr. {{wiki_user.user_last_name}}, Welcome to Wiki!';
    </script>
    {% else %}
    <script type="text/javascript">
        var documentTitle = '{{wiki_user.user_first_name}}, Welcome to Wiki!';
    </script>
    {% endif %}
{% endif %}
<script type="text/javascript">
    $(document).ready( function(){
        document.title = documentTitle;
        $('h1.firstHeading').html(documentTitle);
    });
</script>
{% if wiki_user.user_title == 'prof' %}
<p>Dear Professor {{wiki_user.user_last_name}},
{% else %}
    {% if wiki_user.title == 'dr' %}
    <p>Dear Dr. {{wiki_user.user_last_name}},
    {% else %}
    <p>Dear {{wiki_user.user_first_name}},
    {% endif %}
{% endif %}
thanks joining Wiki!</p>
<p><strong>Could you help our community right now?</strong><br/> 
Please answer some of the questions from our Q&amp;A forum:</p>
<ul>
    {% for q in questions %}
        <li><a href="http://yourwiki.org/question/{{q.id}}/{{q.title|slugify}}">{{q.title}}</a></li>
    {% endfor %}
</ul>
<p>Your answers will be <strong>indispensable</strong>.<br/> 
Please feel free to ask something too! Hopefully you will like this forum and the wiki and invite your coworkers and friends to join.
</p>
<p>Might you consider <strong>sharing some of the digital documentation and pulse sequences</strong> that
perhaps had accumulated in your lab?<br/> It's very easy to upload 
files to the wiki as it is to edit the pages directly.
</p>
<p>Best wishes,<br/>
Wiki Server Admin.
</p>
<p>P.S. An email with the confirmation code has been sent to <strong>{{wiki_user.user_email}}</strong>. 
Please follow the included link to confirm your email address.
{% if wiki_user.user_title == 'prof' %}
<br/>
Also, you are always welcome to <strong>advertise open positions</strong> in your laboratory on the wiki.  </p>
{% endif %}
</p>
{% endspaceless %}
