{% extends "user_profile/user.html" %}
{% import "macros.html" as macros %}
<!-- user_stats.html -->
{% block profilesection %}
    {% trans %}overview{% endtrans %}
{% endblock %}
    {% block usercontent %}
        {% include "user_profile/user_info.html" %}
        <a name="questions"></a>
        {% spaceless %}
            <h2>{% trans counter=question_count %}<span class="count">{{counter}}</span> Question{% pluralize %}<span class="count">{{counter}}</span> Questions{% endtrans %}</h2>
        {% endspaceless %}
    {% include "user_profile/users_questions.html" %}
        <a name="answers"></a>
        {% spaceless %}
            <h2 style="clear:both;">{% trans counter=answered_questions|length %}<span class="count">{{counter}}</span> Answer{% pluralize %}<span class="count">{{counter}}</span> Answers{% endtrans %}</h2>
        {% endspaceless %}
        <div class="user-stats-table">
            {% for answered_question in answered_questions %}
            <div class="answer-summary">
                <a title="{{answered_question.summary|collapse}}" 
                    href="{% url question answered_question.id %}{{answered_question.title|slugify}}#{{answered_question.answer_id}}">
                    <span class="answer-votes {% if answered_question.accepted %}answered-accepted{% endif %}" 
                          title="{% trans answer_score=answered_question.answer_score %}the answer has been voted for {{ answer_score }} times{% endtrans %} {% if answered_question.accepted %}{% trans %}this answer has been selected as correct{% endtrans %}{%endif%}">
                        {{ answered_question.answer_score }}
                    </span>
                </a>
                <div class="answer-link">
                    {% spaceless %}
                    <a href="{% url question answered_question.id %}{{answered_question.title|slugify}}#{{answered_question.answer_id}}">{{answered_question.title}}</a> 
                    {% endspaceless %}
                    {% if answered_question.comment_count %}
                    <span>
                        {% trans comment_count=answered_question.comment_count %}({{comment_count}} comment){% pluralize %}the answer has been commented {{comment_count}} times{% endtrans %}
                    </span> 
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <br/>
        <a name="votes"></a>
        {% spaceless %}
            <h2>{% trans cnt=total_votes %}<span class="count">{{cnt}}</span> Vote{% pluralize %}<span class="count">{{cnt}}</span> Votes {% endtrans %}</h2>
        {% endspaceless %}
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="60">
                        <img style="cursor: default;" src="{{"/images/vote-arrow-up-on.png"|media}}" alt="{% trans %}thumb up{% endtrans %}" />
                            <span title="{% trans %}user has voted up this many times{% endtrans %}" class="vote-count">{{up_votes}}</span>
                    </td>
                    <td width="60">
                        <img style="cursor: default;" src="{{"/images/vote-arrow-down-on.png"|media}}" alt="{% trans %}thumb down{% endtrans %}" />
                            <span title="{% trans %}user voted down this many times{% endtrans %}" class="vote-count">{{down_votes}}</span>

                    </td>
                </tr>
            </table>
        </div>
        <a name="tags"></a>
        {% spaceless %}
            <h2>{% trans counter=user_tags|length %}<span class="count">{{counter}}</span> Tag{% pluralize %}<span class="count">{{counter}}</span> Tags{% endtrans %}</h2>
        {% endspaceless %}
        <div class="user-stats-table">
            <table class="tags">
                <tr>
                    <td valign="top">
                        <ul id="ab-user-tags" class="tags">
                        {% for tag in user_tags %}
                            <li>
                            {{ macros.tag_widget(
                                tag.name,
                                html_tag = 'div',
                                url_params = 
                                    "author=" ~ view_user.id ~
                                    "&start_over=true",
                                extra_content = 
                                    '<span class="tag-number">&#215; ' ~
                                    tag.user_tag_usage_count|intcomma ~
                                    '</span>'
                               )
                            }}
                            </li>
                            {#
                            {% if loop.index is divisibleby 10 %}
                                </td>
                                <td width="180"  valign="top">
                            {% endif %}
                            #}
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <a name="badges"></a>
        {% spaceless %}
        <h2>{% trans counter=total_awards %}<span class="count">{{counter}}</span> Badge{% pluralize %}<span class="count">{{counter}}</span> Badges{% endtrans %}</h2>
        {% endspaceless %}
        <div class="user-stats-table badges">
            <table>
                <tr>
                    <td style="line-height:35px">
                        {% for badge in badges %}{# todo: translate badge name properly #}
                            <a 
                                href="{{badge.get_absolute_url()}}"
                                title="{% trans description=badge.description %}{{description}}{% endtrans %}"
                                class="medal"
                            ><span class="{{ badge.css_class }}">&#9679;</span>&nbsp;{% trans name=badge.name %}{{name}}{% endtrans %}
                            </a>&nbsp;
                            <span class="tag-number">&#215;
                                <span class="badge-context-toggle">{{ badge.award_badge.count()|intcomma }}</span>
                            </span>
                            <ul id="badge-context-{{ badge.id }}" class="badge-context-list" style="display:none">
                                {% for award in badge.award_badge.filter(user = view_user) %}
                                    {% if award.content_type in (question_type, answer_type) %}
                                    <li>
                                        <a 
                                            title="{{ award.content_object.get_snippet()|collapse }}"
                                            href="{{ award.content_object.get_absolute_url() }}"
                                        >{% if award.content_type == answer_type %}{% trans %}Answer to:{% endtrans %}{% endif %} {{ award.content_object.get_origin_post().title }}</a>
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                            {% if loop.index is divisibleby 3 %}
                                </td></tr>
                                <tr><td style="line-height:35px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
{% endblock %}
{% block endjs %}
    {{ super() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.badge-context-toggle').each(function(idx, elem){
                var context_list = $(elem).parent().next('ul');
                if (context_list.children().length > 0){
                    $(elem).addClass('active');
                    var toggle_display = function(){
                        if (context_list.css('display') == 'none'){
                            $('.badge-context-list').hide();{# hide all context lists #}
                            context_list.show();
                        } else {
                            context_list.hide();
                        }
                    };
                    $(elem).click(toggle_display);
                }
            });
        });
    </script>
{% endblock %}
<!-- end user_stats.html -->
