{# todo - maybe disable navigation from ignored tags here when "hide" is on - with js? #}
<div id="tagSelector" class="boxC">
    <h2>{% trans %}Interesting tags{% endtrans %}</h2>
    <div class="tags interesting marked-tags">
    {% for tag_name in interesting_tag_names %}
        {% spaceless %}
        <span class="deletable-tag" id="interesting-tag-{{tag_name}}">
            <a rel="tag" 
                title="{% trans %}see questions tagged '{{ tag_name }}'{% endtrans %}"
                href="{% url questions %}?tags={{tag_name|urlencode}}">{{tag_name}}</a>
            <img class="delete-icon" 
                src="{{'/images/close-small-dark.png'|media}}"
                title="{% trans %}remove '{{tag_name}}' from the list of interesting tags{% endtrans %}"/>
        </span>
        {% endspaceless %}
    {% endfor %}
    </div>
    <input id="interestingTagInput" autocomplete="off" type="text"/>&nbsp;
    <input id="interestingTagAdd" type="submit" value="{% trans %}Add{% endtrans %}"/>
    <h2>{% trans %}Ignored tags{% endtrans %}</h2>
    <div class="tags ignored marked-tags">
    {% for tag_name in ignored_tag_names %}
        {% spaceless %}
        <span class="deletable-tag" id="ignored-tag-{{tag_name}}">
            <a rel="tag" 
                title="{% trans %}see questions tagged '{{ tag_name }}'{% endtrans %}"
                href="{% url questions %}?tags={{tag_name|urlencode}}">{{tag_name}}</a>
            <img class="delete-icon" 
                src="{{'/images/close-small-dark.png'|media}}"
                title="{% trans %}remove '{{tag_name}}' from the list of ignored tags{% endtrans %}"/>
        </span>
        {% endspaceless %}
    {% endfor %}
    </div>
    <input id="ignoredTagInput" autocomplete="off" type="text"/>&nbsp;
    <input id="ignoredTagAdd" type="submit" value="{% trans %}Add{% endtrans%}"/>
    <p id="hideIgnoredTagsControl">
    <input id="hideIgnoredTagsCb" type="checkbox" {% if request.user.hide_ignored_questions %}checked="checked"{% endif %} />
    <label id="hideIgnoredTagsLabel" for="hideIgnoredTagsCb">{% trans %}keep ignored questions hidden{% endtrans %}</label>
    <p>
</div>
