{# todo - maybe disable navigation from ignored tags here when "hide" is on - with js? #}
{% import "macros.html" as macros %}
<div id="tagSelector" class="boxC">
    <h2>{% trans %}Interesting tags{% endtrans %}</h2>
    {{ 
        macros.tag_list_widget(
            interesting_tag_names,
            deletable = True,
            css_class = 'interesting marked-tags'
        )
    }}
    {# todo - add this via js
        "remove '%(tag_name)s' from the list of interesting tags"|
        format(tag_name = tag_name)
    #}
    <div class="inputs">
        <input id="interestingTagInput" autocomplete="off" type="text"/>&nbsp;
        <input id="interestingTagAdd" type="submit" value="{% trans %}Add{% endtrans %}"/>
    </div>
    <h2>{% trans %}Ignored tags{% endtrans %}</h2>
    {{
        macros.tag_list_widget(
            ignored_tag_names,
            deletable = True,
            css_class = 'ignored marked-tags'
        )
    }}
    {# todo: add this via javascript 
        "remove '%(tag_name)s' from the list of ignored tags"|
        format(tag_name = tag_name)
    #}
    <div class="inputs">
        <input id="ignoredTagInput" autocomplete="off" type="text"/>&nbsp;
        <input id="ignoredTagAdd" type="submit" value="{% trans %}Add{% endtrans%}"/>
    </div>
    <p id="hideIgnoredTagsControl">
    <input id="hideIgnoredTagsCb" type="checkbox" {% if request.user.hide_ignored_questions %}checked="checked"{% endif %} />
    <label id="hideIgnoredTagsLabel" for="hideIgnoredTagsCb">{% trans %}keep ignored questions hidden{% endtrans %}</label>
    <p>
</div>
