<div id="group-wiki-{{group.id}}" class="box group-wiki">
    <h2>{% trans %}Group info{% endtrans %}</h2>
    <img class="group-logo" 
        {% if group.group_profile.logo_url %}
            src="{{ group.group_profile.logo_url }}"
        {% else %}
            style="display:none"
        {% endif %}
    />
    <div class="content">
        {% if group.tag_wiki %}
            {{ group.tag_wiki.html }}
        {% endif %}
    </div>
    <div class="clearfix"></div>
    {% if user_can_join_group or user_is_group_member %}
        <button 
            class="group-join-btn follow-toggle {% if user_is_group_member %}on on-state{% endif %}"
            data-off-prompt-text="{% trans %}Leave this group{% endtrans %}"
            data-on-prompt-text="{% trans %}Join this group{% endtrans %}"
            data-on-state-text="{% trans %}You are a member{% endtrans %}"
            data-off-state-text="{% trans %}Join this group{% endtrans %}"
        >
            {% if user_is_group_member %}
                {% trans %}You are a member{% endtrans %}
            {% else %}
                {% if user_can_join_group %}
                    {% trans %}Join this group{% endtrans %}
                {% endif %}
            {% endif %}
        </button>
    {% endif %}
    {% if request.user.is_authenticated() and request.user.is_administrator() %}
    <div class="controls">
        <a class="edit-description"
        >{% trans %}edit description{% endtrans %}</a>
        {% if group.group_profile.logo_url %}
            <span>|</span>
            <a class="change-logo"
            >{% trans %}change logo{% endtrans %}</a>
            <span>|</span>
            <a class="delete-logo">{% trans %}delete logo{% endtrans %}</a>
        {% else %}
            <span>|</span>
            <a class="change-logo"
            >{% trans %}add logo{% endtrans %}</a>
        {% endif %}
        <br/>
        {% if group_email_moderation_enabled %}
            <input type="checkbox"
                id="moderate-email"
                {% if group.group_profile.moderate_email %}checked="checked"{% endif %}
                data-toggle-url="{% url toggle_group_profile_property %}"
            />
            <label for="moderate-email">
                {% trans %}moderate emailed questions{% endtrans %}
            </label>
            <br/>
        {% endif %}
        <input type="checkbox" 
            id="open-or-close-group"
            {% if group.group_profile.is_open %}checked="checked"{% endif %}
            data-toggle-url="{% url toggle_group_profile_property %}"
        />
        <label for="open-or-close-group">
            {% trans %}anyone can join{% endtrans %}
        </label>
        <br/>
    </div>
    {% endif %}
</div>
