{% import "macros.html" as macros%}
<a 
  id="navTags"
  href="{% url tags %}"
  {% if active_tab == 'tags' %}class="on"{% endif %}
>{% trans %}tags{% endtrans %}</a>
{% if settings.GROUPS_ENABLED %}
<span class="dropdown">
<a
  id="navGroups" class='dropdown-toggle {% if active_tab == 'groups' %}"on"{% endif %}'
  href="{% url groups %}" data-target="#" >
  {% trans %}people & groups{% endtrans %}
</a>
<ul id="groups-dropdown" class="dropdown-menu" role="menu" aria-labelledby="navGroups">
  {%for group in group_list%}
  <li>{{ macros.user_group_link(group) }}</li>
  {%endfor%}
</ul>
</span>
{%else%}
<a 
  id="navUsers"
  href="{% url users %}"
  {% if active_tab == 'users' %}class="on"{% endif %}
>{% trans %}users{% endtrans %}</a>
{% endif %}
{% if settings.BADGES_MODE == 'public' %}
<a 
  id="navBadges"
  href="{% url badges %}"
  {% if active_tab == 'badges' %}class="on"{% endif %}
>{% trans %}badges{% endtrans %}</a>
{% endif %}
