{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
<!-- template badge.html -->
{% block title %}{% spaceless %}{% trans name=badge.name %}{{name}}{% endtrans %} - {% trans %}Badge{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<div id="main-bar" class="headNormal">
{% trans %}Badge{% endtrans %}
</div>
<div id="main-body" style="width:100%;margin-bottom:20px">
    <p>
        <a href="{{badge.get_absolute_url()}}" title="{{ badge.get_type_display() }} : {% trans description=badge.description %}{{description}}{% endtrans %}" class="medal"><span class="{{ badge.css_class }}">&#9679;</span>&nbsp;{% trans name=badge.name%}{{name}}{% endtrans %}</a> {% trans description=badge.description %}{{description}}{% endtrans %}
    </p>
    <div>
        {% if badge.awarded_count %}
        <p style="float:left"><span class="count">{{ awards|length|intcomma }}</span>
        <strong>{% trans num_awardees=awards|length %}user received this badge:{% pluralize %}users received this badge:{% endtrans %}</strong></p>
        {% endif %}
    </div>
    <div id="award-list" style="clear:both;margin-left:20px;line-height:25px;">
        {% for award in awards %}
        <p style="width:180px;float:left"><a href="{% url users %}{{ award.id }}/{{ award.name }}">{{ award.name }}</a> 
        {{ 
            macros.user_score_and_badge_summary(
                {
                    'reputation':award.rep, 
                    'gold': award.gold,
                    'silver': award.silver,
                    'bronze': award.bronze
                }
            ) 
        }}
        </p>
        {% endfor %}
    </div>

</div>
{% endblock %}
<!-- end template badge.html -->
