<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- template base.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
    {% spaceless %}
    <head>
        <title>{% block title %}{% endblock %} - {{ settings.APP_TITLE|escape }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% block meta_description %}
        <meta name="description" content="{{settings.APP_DESCRIPTION|escape}}" />
        {% endblock %}
        <meta name="keywords" content="{%block keywords%}{%endblock%},{{settings.APP_KEYWORDS|escape}}" />
        {% if settings.GOOGLE_SITEMAP_CODE %}
        <meta name="google-site-verification" content="{{settings.GOOGLE_SITEMAP_CODE}}" />
        {% endif %}
        <link rel="shortcut icon" href="{{ settings.SITE_FAVICON|media }}" />
        <link href="{{"/style/style.css"|media }}" rel="stylesheet" type="text/css" />
        {{ skin.get_extra_css_link() }}
        {% if settings.USE_CUSTOM_CSS %}
            <link 
                href="{% url "custom_css" %}?v={{settings.MEDIA_RESOURCE_REVISION}}"
                rel="stylesheet"
                type="text/css"
            />
        {% endif %}
        {% block forestyle %}{% endblock %}
        {% if user_messages %}
        <style type="text/css">
            body { margin-top:2.4em; }
        </style>
        {% endif %}
        {% if settings.USE_CUSTOM_HTML_HEAD %}
            {{ settings.CUSTOM_HTML_HEAD }}
        {% endif %}
        <script type="text/javascript">
            var askbot = {};
            askbot['data'] = {};
            askbot['urls'] = {};
            askbot['settings'] = {};
            askbot['messages'] = {};
        </script>
        {% block forejs %}
        {% endblock %}
        {# avoid adding javascript here so that pages load faster #}
    </head>
    {% endspaceless %}
    <body class="{% block body_class %}{% endblock %}{% if page_class %} {{page_class}}{% endif %}">
        {% include "blocks/system_messages.html" %}
        {% include "custom_header.html" ignore missing %}
        {% include "blocks/header.html" %}
        <div class="content-wrapper">
            {% block body %}
            {% endblock %}
        </div>
        {% if settings.FOOTER_MODE == 'default' %}
            {% include "blocks/footer.html" %}
        {% elif settings.FOOTER_MODE == 'customize' %}
            {{ settings.CUSTOM_FOOTER }}
        {% endif %}
        {% include "custom_footer.html" ignore missing %}
        {% include "blocks/bottom_scripts.html" %}
        {% block endjs %}
        {% endblock %}
        <script type="text/javascript">
            for (url_name in askbot['urls']){
                askbot['urls'][url_name] = cleanUrl(askbot['urls'][url_name]);
            }
        </script>
    </body>
</html>
<!-- end template base.html -->
