<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- base_content.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{% block title %}{% endblock %} - {{ settings.APP_TITLE|escape }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="keywords" content="{%block keywords%}{%endblock%},{{settings.APP_KEYWORDS|escape}}" />
        {% block meta_description %}
        <meta name="description" content="{{settings.APP_DESCRIPTION|escape}}" />
        {% endblock %}
        {% if settings.GOOGLE_SITEMAP_CODE %}
        <meta name="google-site-verification" content="{{ settings.GOOGLE_SITEMAP_CODE }}" />
        {% endif %}
        <link rel="shortcut icon" href="{{"/images/favicon.gif"|media}}" />
        <link href="{{"/style/style.css"|media}}" rel="stylesheet" type="text/css" />
        {% spaceless %}
        {% block forestyle %}{% endblock %}
        {% endspaceless %}
        <script type="text/javascript">
            var i18nLang = '{{ settings.LANGUAGE_CODE }}';
            var scriptUrl = '/{{settings.ASKBOT_URL}}'
            var askbotSkin = '{{settings.ASKBOT_DEFAULT_SKIN}}';
            {% if settings.ENABLE_MATHJAX %}
            var enableMathJax = true;
            {% else %}
            var enableMathJax = false;
            {% endif %}
        </script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>
        <script type='text/javascript' src='{{"/js/com.cnprog.i18n.js"|media}}'></script>
        <script type='text/javascript' src='{{"/js/jquery.i18n.js"|media}}'></script>
        <script type='text/javascript' src='{{"/js/com.cnprog.utils.js"|media}}'></script>
        {% if settings.ENABLE_MATHJAX %}
            <script type='text/javascript' src='{{settings.MATHJAX_BASE_URL}}/MathJax.js'>
                MathJax.Hub.Config({
                    extensions: ["tex2jax.js"],
                    jax: ["input/TeX","output/HTML-CSS"],
                    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
                });
            </script>
        {% endif %}
        {% if user_messages %}
        <style type="text/css">
            body { margin-top:2.4em; }
        </style>
        <script type="text/javascript">
            $(document).ready(function() {
                var element = $('#validate_email_alert')
                element.click(function(){notify.close(true);setTimeout(function(){},1000)})
                notify.show();
            });
        </script>
        {% endif %}
        {% block forejs %}
        {% endblock %}
    </head>
    <body>
        <div class="notify" style="display:none">
                {% if user_messages %}
                    {% for message in user_messages %}
                          <p class="darkred">{{ message }}</p>
                    {% endfor %}
                {% endif %}
            <a id="close-notify" onclick="notify.close(true)">&times;</a>
        </div>
        {% include "header.html" %}
        <div id="wrapper">
            <div id="room">
                <div id="CAFull">
                    {% include "input_bar.html" %}
                    {% block content%}
                    {% endblock%}
                </div>
                <div id="tail" style="clear:both;">
                    {% block tail %}
                    {% endblock %}
                </div>
            </div>
            <div class="spacer3"></div>
        </div>
        {% include "footer.html" %}
        {% block endjs %}
        {% endblock %}
    </body>
</html>
<!-- end template base_content.html -->
