<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!-- template base.html -->
<html xmlns="http://www.w3.org/1999/xhtml">
    {% spaceless %}
    <head>
        <title>{% block title %}{% endblock %} - {{ settings.APP_TITLE|escape }}</title>
        {% include "blocks/head.html" %}
        {# avoid adding javascript here so that pages load faster #}
    </head>
    {% endspaceless %}
    <body{% if page_class %} class="{{page_class}}"{% endif %}>
        {#% include "blocks/forum_body.html" %#}
        <div class="notify" style="display:none">
            {% if user_messages %}
                {% for message in user_messages %}
                      <p class="darkred">{{ message }}</p>
                {% endfor %}
            {% endif %}
            <a id="close-notify" onclick="notify.close(true)">&times;</a>
        </div>
        {% include "header.html" %}
        {% block body %}
        {% endblock %}
        {% if settings.SHOW_FOOTER %}
            {% include "footer.html" %}
        {% endif %}
        {% include "blocks/bottom_scripts.html" %}
    </body>
</html>
<!-- end template base.html -->
