<!-- template header.html -->
{% import "macros.html" as macros %}
<div id="roof">
    <div id="navBar">
        <div id="top">
            {% if request.user.is_authenticated() %}
                <a href="{{ request.user.get_absolute_url() }}">{{ request.user.username }}</a> 
                {% spaceless %}
                <a class='ab-responses-envelope' href="{{request.user.get_absolute_url()}}?sort=responses">
                    <img 
                        alt="{% trans username=request.user.username %}responses for {{username}}{% endtrans %}"
                        {% if request.user.response_count > 0 %}
                        src="{{ "/images/mail-envelope-full.png"|media }}"
                        title="{% trans response_count=request.user.response_count %}you have a new response{% pluralize %}you nave {{response_count}} new responses{% endtrans %}"
                        {% else %}
                        src="{{ "/images/mail-envelope-empty.png"|media }}"
                        title="{% trans %}no new responses yet{% endtrans %}"
                        {% endif %}
                    />
                </a>
                {% endspaceless %}
                ({{ macros.user_long_score_and_badge_summary(user) }})
                <a href="{% url logout %}">{% trans %}logout{% endtrans %}</a>
            {% else %}
                <a href="{% url user_signin %}">{% trans %}login{% endtrans %}</a>
            {% endif %}
            <a href="{% url about %}">{% trans %}about{% endtrans %}</a>
            <a href="{% url faq %}">{% trans %}faq{% endtrans %}</a>
            {% if request.user.is_administrator %}
            <a href="{% url site_settings %}">{% trans %}settings{% endtrans %}</a>
            {% endif %}
        </div>
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
    <td id="logoContainer">
        <div id="logo">
            <a href="{% url questions %}?start_over=true"><img 
                src="{{ settings.SITE_LOGO_URL|media }}" 
                title="{% trans %}back to home page{% endtrans %}"
                alt="{% trans site=settings.APP_SHORT_NAME %}{{site}} logo{% endtrans %}"/></a>
        </div>
    </td>
    <td id="navTabContainer" valign="bottom" align="left">
        <div class="nav">
            <a id="nav_questions" href="{% url questions %}" >{% trans %}questions{% endtrans %}</a>
            <a id="nav_tags" href="{% url tags %}">{% trans %}tags{% endtrans %}</a>
            <a id="nav_users" href="{% url users %}">{% trans %}users{% endtrans %}</a>
            <a id="nav_badges" href="{% url badges %}">{% trans %}badges{% endtrans %}</a>
            <a id="nav_ask" href="{% url ask %}" class="special">{% trans %}ask a question{% endtrans %}</a>
        </div>
    </td>
          </tr>
        </table>
    </div>
</div>
<!-- end template header.html -->
