{% extends "two_column_body.html" %}
{% block content %}
    <form id="load-dump-form" method="post" enctype="multipart/form-data">
        {{dump_upload_form.as_table()}}
        <input type="submit" value="{% trans %}Import data{% endtrans %}" />
    </form>
    <div id="results"></div>
{% endblock %}
{% block endjs %}
<script type="text/javascript">
    $('#load-dump-form input[type=submit]').click(function(){
        return;
    });
    $("#upload").ajaxStart(function(){
          $(this).hide();
      }).ajaxComplete(function(){
          $(this).show();
      });

    $.ajaxFileUpload({
        url: "{% url import_data %}",
        secureuri:false,
        fileElementId:'id_dump_file',
        dataType: 'xml',
        success: function (data, status){
            var fileURL = $(data).find('file_url').text(); 
            var error = $(data).find('error').text();
            if(error != ''){
                alert(error);
            } else {
                imageUrl.attr('value', fileURL);
            }
        },
        error: function (data, status, e){
            alert(e);
        }
    });
}
    
</script>
{% endblock %}
