{% extends "two_column_body.html" %}
<!-- create_ask_widget.html -->
{% block title %}Create a Widget{% endblock %}
{% block content %}
<h1>Ask Question widget list</h1>

<table border="0">
  <tr>
    <th>Widget Title </th>
    <th>Code</th>
    <th>Actions</th>
  </tr>
  {%for widget in widgets%}
    <tr>
      <td>{{widget.title}}</td>
      <td> &lt;script type="text/javascript" src="http://{{request.get_host()}}{% url render_ask_widget widget.id%}" &gt;&lt;/script&gt;</td> 
      <td><a href="{% url edit_ask_widget widget.id %}">Edit</a> | <a href="{% url delete_ask_widget widget.id %}">Delete</a></td>
    </tr>
  {%endfor%}
</table>

{% endblock %}
{% block endjs %}
{% endblock %}

{% block sidebar %}
<div class="box">
    <h2>{% trans %}How to use?{% endtrans %}</h2>
    <p>{% trans %}
    Just copy the &lt;script&gt; tag provided and paste it in the site where you wan to put it.
    {%endtrans%} 
    </p>
  </div>
{% endblock %}
