{%- macro user_score_and_badge_summary(user) -%}
    <span class="reputation-score"
          title="{{user.get_karma_summary}}"
    >{{user.reputation}}</span>
    {% if user.gold or user.silver or user.bronze %}
    <span title="{{user.get_badge_summary}}">
        {% if user.gold %}
        <span class='badge1'>&#9679;</span>
        <span class="badgecount">{{user.gold}}</span>
        {% endif %}
        {% if user.silver %}
        <span class='badge2'>&#9679;</span>
        <span class="badgecount">{{user.silver}}</span>
        {% endif %}
        {% if user.bronze %}
        <span class='badge3'>&#9679;</span>
        <span class="badgecount">{{user.bronze}}</span>
        {% endif %}
    </span>
    {% endif %}
{%- endmacro -%}

{%- macro user_long_score_and_badge_summary(user) -%}
    <span class="reputation-score"
          title="{{user.get_karma_summary}}"
    >{% trans %}karma:{% endtrans %} {{user.reputation}}</span>
    {% if user.gold or user.silver or user.bronze %}
    <span title="{{user.get_badge_summary}}">{% trans %}badges:{% endtrans %}
        {% if user.gold %}
        <span class='badge1'>&#9679;</span>
        <span class="badgecount">{{user.gold}}</span>
        {% endif %}
        {% if user.silver %}
        <span class='badge2'>&#9679;</span>
        <span class="badgecount">{{user.silver}}</span>
        {% endif %}
        {% if user.bronze %}
        <span class='badge3'>&#9679;</span>
        <span class="badgecount">{{user.bronze}}</span>
        {% endif %}
    </span>
    {% endif %}
{%- endmacro -%}

{%- macro paginator(p) -%}{# p is paginator context dictionary #}
{% spaceless %}
    {% if p.is_paginated %}
        <div class="paginator">
        {% if p.has_previous %}
            <span class="prev"><a href="{{p.base_url}}page={{ p.contextprevious }}{{ p.extend_url }}" title="{% trans %}previous{% endtrans %}">
        &laquo; {% trans %}previous{% endtrans %}</a></span>
        {% endif %}
        {% if not p.in_leading_range %}
            {% for num in p.pages_outside_trailing_range %}
                <span class="page"><a href="{{p.base_url}}page={{ num }}{{ p.extend_url }}" >{{ num }}</a></span>
            {% endfor %}
        ...
        {% endif %}
         
        {% for num in p.page_numbers %}
          {% if num == p.page and p.pages != 1%}
            <span class="curr" title="{% trans %}current page{% endtrans %}">{{ num }}</span>
          {% else %}
            <span class="page"><a href="{{p.base_url}}page={{ num }}{{ p.extend_url }}" title="{% trans %}page number {{num}}{% endtrans %}">{{ num }}</a></span>
          {% endif %}
        {% endfor %}
         
        {% if not p.in_trailing_range %}
            ...
            {% for num in p.pages_outside_leading_range|reverse %}
                <span class="page"><a href="{{p.base_url}}page={{ num }}{{ p.extend_url }}" title="{% trans %}page number {{ num }}{% endtrans %}">{{ num }}</a></span>
            {% endfor %}
        {% endif %}
        {% if p.has_next %}
            <span class="next"><a href="{{p.base_url}}page={{ next }}{{ p.extend_url }}" title="{% trans %}next page{% endtrans %}">{% trans %}next page{% endtrans %} &raquo;</a></span>
        {% endif %}
        </div> 
    {% endif %}
{% endspaceless %}
{%- endmacro -%}

{%- macro pagesize_switch(p) -%}{# p is paginator context #}
{% spaceless %}
{% if p.is_paginated %}
    <div class="paginator">
        <span class="text">{% trans %}posts per page{% endtrans %}</span>
        {% if p.page_size == 10 %}
            <span class="curr">10</span>
        {% else %}
            <span class="page"><a href="{{p.base_url}}page_size=10">10</a></span>
        {% endif %}
        
        {% if p.page_size == 30 %}
            <span class="curr">30</span>
        {% else %}
            <span class="page"><a href="{{p.base_url}}page_size=30">30</a></span>
        {% endif %}
        
        {% if p.page_size == 50 %}
            <span class="curr">50</span>
        {% else %}
            <span class="page"><a href="{{p.base_url}}page_size=50">50</a></span>
        {% endif %}
    </div> 
{% endif %}
{% endspaceless %}
{%- endmacro -%}

{%- macro gravatar(user, size) -%}
{% spaceless %}
<a style="text-decoration:none"
    href="{{user.get_absolute_url()}}"
><img class="gravatar" 
    width="{{size}}" height="{{size}}"
    src="http://www.gravatar.com/avatar/{{user.gravatar}}s?s={{size}}&amp;d=identicon&amp;r=PG"
    title="{{user.username}}" 
    alt="{% trans username=user.username %}{{username}} gravatar image{% endtrans %}" 
/></a>
{% endspaceless %}
{%- endmacro -%}
