{% extends "base_content.html" %}
<!-- reopen.html -->
{% load extra_tags %}
{% load i18n %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "Reopen question" %}{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $('#btBack').bind('click', function(){ history.back(); });
        });
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="headNormal">
    {% trans "Reopen question" %}
</div>
<div id="main-body" style="width:100%">
    <p>{% trans "Title" %}: 
        <a href="{{ question.get_absolute_url }}">
            <span class="big">{{ question.get_question_title }}</span>
        </a>
    </p>
    <p>{% blocktrans %}This question has been closed by 
        <a href="{{closed_by_profile_url}}">{{closed_by_username}}</a>
    {% endblocktrans %}
    </p>
    <p>
        {% trans "Close reason:" %} "<strong>{{question.get_close_reason_display}}</strong>".
    </p>
    <p>
        {% trans "When:" %} {% diff_date question.closed_at %}
    </p>
    <p>
        {% trans "Reopen this question?" %}
    </p>
    <form id="fmclose" action="{% url reopen question.id %}" method="post" >
        <div id="" style="padding:20px 0 20px 0">
            <input type="submit" value="{% trans "Reopen this question" %}" class="submit" />&nbsp;
            <input id="btBack" type="button" value="{% trans "Cancel" %}"  class="submit"  />
            
        </div>
        
    </form>
</div>
{% endblock %}
<!-- end reopen.html -->
