{% extends "base.html" %}
<!-- reopen.html -->
{% block title %}{% spaceless %}{% trans %}Reopen question{% endtrans %}{% endspaceless %}{% endblock %}
{% block forejs %}
       <script type="text/javascript">
        $().ready(function(){
            $('#btBack').bind('click', function(){ history.back(); });
        });
        </script>
{% endblock %}
{% block content %}
<div id="main-bar" class="headNormal">
    {% trans %}Reopen question{% endtrans %}
</div>
<div id="main-body" style="width:100%">
    <p>{% trans %}Title{% endtrans %}: 
        <a href="{{ question.get_absolute_url() }}">
            <span class="big">{{ question.get_question_title() }}</span>
        </a>
    </p>
    <p>{% trans %}This question has been closed by 
        <a href="{{closed_by_profile_url}}">{{closed_by_username}}</a>
    {% endtrans %}
    </p>
    <p>
        {% trans %}Close reason:{% endtrans %} "<strong>{{question.get_close_reason_display()}}</strong>".
    </p>
    <p>
        {% trans %}When:{% endtrans %} {{question.closed_at|diff_date}}
    </p>
    <p>
        {% trans %}Reopen this question?{% endtrans %}
    </p>
    <form id="fmclose" action="{% url reopen question.id %}" method="post" >
        <div id="" style="padding:20px 0 20px 0">
            <input type="submit" value="{% trans %}Reopen this question{% endtrans %}" class="submit" />&nbsp;
            <input id="btBack" type="button" value="{% trans %}Cancel{% endtrans %}"  class="submit"  />
        </div>
    </form>
</div>
{% endblock %}
<!-- end reopen.html -->
