{% extends "two_column_body.html" %}
{% import "macros.html" as macros %}
<!-- tags.html -->
{% block title %}{% spaceless %}{% trans %}Tag list{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<!-- Tabs -->
<div class="tabBar">
    <h1>{% trans %}Tag list{% endtrans %}</h1>
    <div class="tabsA">
        <a
            id="sort_name"
            href="{% url tags %}?sort=name"
            {% if tab_id == 'name' %}class="on"{% endif %}
            title="{% trans %}sorted alphabetically{% endtrans %}"
        ><span>{% trans %}by name{% endtrans %}</span></a>
        <a
            id="sort_used"
            href="{% url tags %}?sort=used"
            {% if tab_id == 'used' %}class="on"{% endif %}
            title="{% trans %}sorted by frequency of tag use{% endtrans %}"
        ><span>{% trans %}by popularity{% endtrans %}</span></a>
    </div>
</div>
<p>
    {% if stag %}
        {% trans %}All tags matching '<span class="darkred"><strong>{{ stag }}</strong></span>'{% endtrans %}:
    {% endif %}
    {% if not tags.object_list %}
        <span>{% trans %}Nothing found{% endtrans %}</span>
    {% endif %}
</p>
{% if tags.object_list %}
    <ul class='tags'>
        {% for tag in tags.object_list %}
        <li>
            {{ macros.tag_widget(
                        tag = tag.name,
                        url_params = 'start_over=true',
                        html_tag = 'div',
                        extra_content = '<span class="tag-number">&#215; ' ~
                                        tag.used_count|intcomma ~ '</span>'
                )
            }}
        </li>
        {% endfor %}
    </ul>
{% endif %}
<div class="pager">
    {{macros.paginator(paginator_context)}}
</div>
{% endblock %}
{% block endjs %}
    <script type="text/javascript">
    /*<![CDATA[*/
        $().ready(function(){
            $("#ipSearchTag").focus();
            $("#type-tag").attr('checked',true);
            Hilite.exact = false;
            Hilite.elementid = "searchtags";
            Hilite.debug_referrer = location.href;
        });
    /*]]>*/
    </script>
{% endblock %}
<!-- end tags.html -->
