<!-- users_questions.html -->
{% import "macros.html" as macros %}
<div class="user-stats-table">
    {% for question in questions %}
        {% if question.favourite_count %}
            {% if question.favorited_myself %}
                <div class="favorites-count">
                    <img 
                        title="{% trans cnt=question.favourite_count %}this questions was selected as favorite {{cnt}} time{% pluralize %}this questions was selected as favorite {{cnt}} times{% endtrans %}"
                        alt="{% trans %}thumb-up on{% endtrans %}"
                        src="{{"/images/vote-favorite-on.png"|media}}"/>
                    <div><b>{{question.favourite_count|intcomma}}</b></div>
                </div>
            {% else %}
                <div class="favorites-count-off">
                    <img 
                        title="{% trans cnt=question.favourite_count %}this questions was selected as favorite {{cnt}} time{% pluralize %}this questions was selected as favorite {{cnt}} times{% endtrans %}"
                        alt="{% trans %}thumb-up off{% endtrans %}"
                        src="{{"/images/vote-favorite-off.png"|media}}"/>
                    <div><b>{{question.favourite_count|intcomma}}</b></div>
                </div>
            {% endif %}
        {% else %}
            <div class="favorites-empty"> </div>
        {% endif %}
    <div id="question-summary-{{question.id}}" class="short-summary narrow">
    <div class="counts">
        <div class="votes">
            <span 
                class="item-count"
                style="background:{{settings.COLORS_VOTE_COUNTER_MIN_BG}};color:{{settings.COLORS_VOTE_COUNTER_MIN_FG}}"
            >{{question.score|humanize_counter}}</span>
            <div>
            {% trans cnt=question.score %}
            vote
            {% pluralize %}
            votes
            {% endtrans %}
            </div>
        </div >
        {#
        <div {% if question.answer_accepted %}title="{% trans %}this answer has been accepted to be correct{% endtrans %}"{% endif %} class="status {% if question.answer_accepted %}answered-accepted{% endif %} {% if question.answer_count==0 %}unanswered{% endif %}{% if question.answer_count!=0 %}answered{% endif %}">
        #}
        <div class="votes"> 
            <span 
                class="item-count"
                {% if question.answer_accepted %}
                style="background:{{settings.COLORS_ANSWER_COUNTER_ACCEPTED_BG}};color:{{settings.COLORS_ANSWER_COUNTER_ACCEPTED_FG}}"
                {% else %}
                style="background:{{settings.COLORS_ANSWER_COUNTER_MIN_BG}};color:{{settings.COLORS_ANSWER_COUNTER_MIN_FG}}"
                {% endif %}
            >{{question.answer_count|humanize_counter}}</span>
            <div>
            {% trans cnt=question.answer_count %}
            answer 
            {% pluralize %}
            answers 
            {% endtrans %}
            </div>
        </div>
        <div class="votes">
             <span class="item-count"
                style="background:{{settings.COLORS_VIEW_COUNTER_MIN_BG}};color:{{settings.COLORS_VIEW_COUNTER_MIN_FG}}"
             >{{question.view_count|humanize_counter}}</span>
            <div>
            {% trans cnt=question.view_count %}
            view
            {% pluralize %}
            views
            {% endtrans %}
            </div>
        </div>
    </div>
        <h2><a title="{{question.summary|escape}}" href="{% url question id=question.id %}{{question.title|slugify}}">{{question.title|escape}}</a></h2>
        <div class="tags">
            {% for tag in question.tagnames|split(' ') %}
                <!--todo - move trans below to trans -->
                <a href="{% url questions %}?tags={{tag|urlencode}}" title="{% trans %}see questions tagged '{{ tag }}'{% endtrans %}" rel="tag">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="started">
            <span class="relativetime" title="{{question.last_activity_at}}">{{question.last_activity_at|diff_date}}</span>
            {% if question.la_username %}
                <a 
                    href="{% url users %}{{question.la_user_id}}/{{question.la_username}}"
                >{{question.la_username}}</a>
                {{ macros.user_score_and_badge_summary(
                        {
                            'reputation': question.la_user_reputaion,
                            'gold': question.la_user_gold,
                            'silver': question.la_user_silver,
                            'bronze': question.la_user_bronze,
                        }
                    )
                }}
            {% endif %}
        </div>
    </div>
    <br clear="all"/>
    {% endfor %}
</div>
<!-- end users_questions.html -->
