{% extends "user.html" %}
<!-- user_moderate.html -->
{% load i18n %}
{% load smart_if %}
{% block usercontent %}
{% if request.user != view_user %}
    <h3>{% blocktrans with view_user.username as username and view_user.get_status_display as status %}{{username}}'s current status is "{{status}}"{% endblocktrans %}
    </h3>
    <form method="post">
        <input type="hidden" name="sort" value="moderate"/>
        <table class="form-as-table">
        {{ change_user_status_form.as_table }}
        </table>
        <input type="submit" class="submit" name="change_status" value="{% trans "Save" %}" />
    </form>
{% endif %}
<hr/>
<h3>
{% if request.user == view_user %}
    {% blocktrans with view_user.reputation as reputation %}Your current reputation is {{reputation}} points{% endblocktrans %}
{% else %}
    {% blocktrans with view_user.reputation as reputation %}User's current reputation is {{reputation}} points{% endblocktrans %}
{% endif %}
</h3>
<form method="post">
    <input type="hidden" name="sort" value="moderate"/>
    <table class="form-as-table">
    {{ change_user_reputation_form.as_table }}
    </table>
    <input type="submit" class="submit" name="subtract_reputation" value="{% trans "Subtract" %}" />&nbsp;
    <input type="submit" class="submit" name="add_reputation" value="{% trans "Add" %}" />
</form>
{% endblock %}
