{% extends "two_column_body.html" %}
<!-- user.html -->
{% block title %}{% spaceless %}{{ page_title }}{% endspaceless %}{% endblock %}
{% block forestyle%}
<style type="text/css">
    .history-table td { padding: 5px; }
</style>
{% endblock %}
{% block content %}
    <div id="mainbar-full">
        <div id="subheader" class="headUser">
            {% spaceless %}
            <a href="{% url user_profile view_user.id, view_user.username|slugify %}">
            {% trans username=view_user.username %}{{username}}'s profile{% endtrans %}
            </a>
            {% endspaceless %}
        </div>
        {% include "user_tabs.html" %}
        {% block usercontent %}
        {% endblock %}
    </div>
{% endblock %}<!-- end user.html -->
{% block endjs %}
    {% if request.user|can_moderate_user(view_user) %}
        <!-- todo: add condition that scripts are loaded for admins only -->
        <script type='text/javascript' src='{{"/js/admin.js"|media}}'></script>
        <script type='text/javascript' src='{{"/js/jquery.form.js"|media}}'></script>
    {% endif %}
    <script type="text/javascript">
        var viewUserID = {{view_user.id}};
    </script>
    {% block userjs %}
    {% endblock %}
{% endblock %}
<!-- end of user.html -->
