{# this template is not used yet #}
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <link href="{{"/style/style.css"|fullmedia}}" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <a href="{{settings.APP_URL}}{% url index %}">
            <img src="{{"/images/logo.png"|fullmedia}}" title="{% trans %}home{% endtrans %}" alt="{{settings.APP_TITLE}} logo"/>
        </a>
        <br />
        <p>{{ settings.APP_TITLE }}</p>
    <br /><br />
    <div id="wrapper">
            <div id="room">
                <div id="CALeft">
                    {% block content%}
                    {% endblock%}
                </div>
            </div>
            <div class="spacer3"></div>
        </div>
    </body>
</html>
