{% load cache %}
{% load i18n %}
{% load humanize %}
{% load extra_filters %}
{% load extra_tags %}
{% for question in questions.object_list %}
<div class="short-summary">
    <div class="counts">
        <div class="votes">
            <span 
                class="item-count"
                style="background:{{settings.COLORS_VOTE_COUNTER_MIN_BG}};color:{{settings.COLORS_VOTE_COUNTER_MIN_FG}}"
            >{{question.score|humanize_counter}}</span>
            <div>
            {% blocktrans count question.score as cnt %}
            vote
            {% plural %}
            votes
            {% endblocktrans %}
            </div>
        </div >
        {% comment %}
        <div {% if question.answer_accepted %}title="{% trans "this answer has been accepted to be correct" %}"{% endif %} class="status {% if question.answer_accepted %}answered-accepted{% endif %} {% ifequal question.answer_count 0 %}unanswered{% endifequal %}{% ifnotequal question.answer_count 0 %}answered{% endifnotequal %}">
        {% endcomment %}
        <div class="votes"> 
            <span 
                class="item-count"
                {% if question.answer_accepted %}
                style="background:{{settings.COLORS_ANSWER_COUNTER_ACCEPTED_BG}};color:{{settings.COLORS_ANSWER_COUNTER_ACCEPTED_FG}}"
                {% else %}
                style="background:{{settings.COLORS_ANSWER_COUNTER_MIN_BG}};color:{{settings.COLORS_ANSWER_COUNTER_MIN_FG}}"
                {% endif %}
            >{{question.answer_count|humanize_counter}}</span>
            <div>
            {% blocktrans count question.answer_count as cnt %}
            answer 
            {% plural %}
            answers 
            {% endblocktrans %}
            </div>
        </div>
        <div class="votes">
             <span class="item-count"
                style="background:{{settings.COLORS_VIEW_COUNTER_MIN_BG}};color:{{settings.COLORS_VIEW_COUNTER_MIN_FG}}"
             >{{question.view_count|humanize_counter}}</span>
            <div>
            {% blocktrans count question.view_count as cnt %}
            view
            {% plural %}
            views
            {% endblocktrans %}
            </div>
        </div>
    </div>
    <h2><a title="{{question.summary}}" href="{% url question id=question.id %}{{question.title|slugify}}">{{question.title}}</a></h2>
    <div class="userinfo">
        <span class="relativetime" title="{{question.last_activity_at}}">{% diff_date question.last_activity_at %}</span>
        {% if question.last_activity_by %}
        &nbsp;<a href="{% url user_profile question.last_activity_by.id question.last_activity_by.username|slugify %}">{{ question.last_activity_by }}</a>&nbsp;{% get_score_badge question.last_activity_by %}
        {% endif %}
    </div>
    <div class="tags">
        {% for tag in question.get_tag_names %}
        <a href="{% url questions %}?tags={{tag|urlencode}}" title="{% blocktrans %}see questions tagged '{{ tag }}'{%endblocktrans %}" rel="tag">{{ tag }}</a>
        {% endfor %}
    </div>
</div>
{% endfor %}
