{% extends "base_content.html" %}
<!--customize this template-->
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Traditional login information" %}{% endspaceless %}{% endblock %}
{% block content %}
<div class="headNormal">
    {% trans "Traditional login information" %}
</div>
{% spaceless %}
<div class="message">
fill in template templates/authopenid/external_legacy_login_info.html
and explain how to change password, recover password, etc.
<!--add info about your external login site here-->
</div>
{% endspaceless %}
{% endblock %}
