{% extends "base.html" %}
<!-- sendpw.html -->
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Send new password" %}{% endspaceless %}{% endblock %}
{% block content %}
<div class="headNormal">
    {% trans "Send new password" %}
</div>
<p class="message">
{% trans "password recovery information" %}
</p>
{% if msg %}
    <p class="action-status"><span>{{msg}}</span><p>
{% endif %}

<div class="aligned">
	<form action="." method="post" accept-charset="utf-8">
        <ul id="emailpw-form" class="form-horizontal-rows">
            {{form.as_ul}}
        </ul>
        <p style="padding-top:10px"><input type="submit" class="submit" value="{% trans "Reset password" %}" /> 
        <a href="{% url user_signin %}"><span class="strong">{% trans "return to login" %}</span></a></p>
	</form>
</div>
{% endblock %}
<!-- end sendpw.html -->
