{% extends "base_content.html" %}
<!-- revisions_question.html -->
<!--somehow very similar to revisions_answer.html-->
{% load extra_tags %}
{% load i18n %}
{% load extra_filters %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "Revision history" %}{% endspaceless %}{% endblock %}
{% block forejs %}
        <script type='text/javascript' src='{% media  "/media/js/com.cnprog.editor.js" %}'></script>
        <script type='text/javascript' src='{% media  "/media/js/com.cnprog.post.js" %}'></script>
        <script type="text/javascript">
        //todo - take this out into .js file 
        $().ready(function(){
            $("#nav_questions").attr('className',"on");
            $('div.revision div[id^=rev-header-]').bind('click', function(){
                var revId = this.id.substr(11);
                toggleRev(revId); 
            
            });
            lanai.highlightSyntax();
        });
        
        function toggleRev(id) {
            var arrow = $("#rev-arrow-" + id);
            var visible = arrow.attr("src").indexOf("hide") > -1;

            var path = $.i18n._('/') + "media/images/expander-arrow-" + 
                        (visible ? "show" : "hide") + ".gif" + "?v={{settings.RESOURCE_REVISION}}";
            arrow.attr("src", path);
            $("#rev-body-" + id).slideToggle("fast");
        }
        </script>
{% endblock %}
        
{% block content %}
<div id="main-bar" class="headNormal">
    {% trans "Revision history" %}[<a href="{{ post.get_absolute_url }}">{% trans "back" %}</a>]
</div>
<div id="main-body" class="">
    <div id="revisions">
    {% for revision in revisions %}
      <div class="revision">
        <div id="rev-header-{{ revision.revision }}" class="header {% ifequal post.author_id revision.author_id %}author{% endifequal %}">
          <div class="header-controls">
            <table width="100%">
                <tr>
                    <td width="20" style="vertical-align:middle"><img id="rev-arrow-{{ revision.revision }}" 
                                                                src="{% media  "/media/images/expander-arrow-show.gif" %}"
                                                                alt="{% trans "click to hide/show revision" %}"/>
                    </td>
                    <td width="30px" style="vertical-align:middle"><span class="revision-number" title="{% trans "revision" %} {{ revision.revision }}">{{ revision.revision }}</span></td>
                    <td width="200px" style="vertical-align:middle">
                        {% if revision.summary %}
                        <div class="summary"><span>{{ revision.summary }}</span></div>
                        {% endif %}
                        {% if request.user|can_edit_post:post %}
                        <a href="{% url edit_question post.id %}?revision={{ revision.revision }}">{% trans "edit" %}</a>
                        {% endif %}
  
                    </td>
                    <td align="right">
                        <div class="revision-mark" >
                            {% post_contributor_info revision %}
                        </div>
                    </td>
                </tr>
    	            
            </table>
          </div>
        </div>
        <div id="rev-body-{{ revision.revision }}" class="diff body">
            {{ revision.diff|safe }}
        </div>
      </div>
    {% endfor %}
    </div>
</div>
{% endblock %}

{% block endjs %}
{% endblock %}
<!-- end revisions_question.html -->
