{#<span class="action-link swap-qa">
    <a id="swap-question-with-answer-{{answer.id}}">{% trans %}swap with question{% endtrans %}</a>
</span>uncomment if needed#}
<span class="action-link">
    <a  class="permant-link"
        href="{{ answer.get_absolute_url(question_post=question) }}"
        title="{% trans %}permanent link{% endtrans %}">
        {% trans %}link{% endtrans %}
    </a>
</span>
{% if request.user.is_authenticated() and 
    (
        request.user == answer.author or 
        request.user.is_administrator_or_moderator()
    )
%}
<span class="action-link delete-post">
    <a class="question-delete"
    >{% if answer.deleted %}{% trans %}undelete{% endtrans %}{% else %}{% trans %}delete{% endtrans %}{% endif %}</a>
</span>
<span 
    id="answer-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
>
    <a class="question-flag">{% trans %}flag offensive{% endtrans %}
        <span class="darkred">{% if answer.offensive_flag_count > 0 %}({{ answer.offensive_flag_count }}){% endif %}</span>
    </a>
</span>
{% if answer.offensive_flag_count > 0 %}
<span 
    id="answer-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
>
    <a class="question-flag">{% trans %}flag offensive{% endtrans %} ({{ answer.offensive_flag_count }})</a>
    </a>
</span>
<span 
    id="answer-offensive-flag-remove-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}remove offensive flag{% endtrans %}"
>
    <a class="question-flag">{% trans %}remove flag{% endtrans %} ({{ answer.offensive_flag_count }})</a>
</span>
{% else %}
<span 
    id="answer-offensive-flag-{{ answer.id }}"
    class="action-link offensive-flag"
    title="{% trans %}report as offensive (i.e containing spam, advertising, malicious text, etc.){% endtrans %}"
>
    <a class="question-flag">{% trans %}flag offensive{% endtrans %}</a>
</span>
{% endif %}
<span class="action-link">
    <a class="question-edit" href="{% url edit_answer answer.id %}">{% trans %}edit{% endtrans %}</a>
</span>
{% endif %}
