{% extends "email/base_mail.html"%}
{%block headline%}
  {%trans %}Hello{%endtrans%}
{% endblock %}

{%block content %}
  <p>{% trans %}Please have a look at these new tags {{tags|join(', ')}},
  created by {{user.username}}.{% endtrans %}</p>
  <p>{% trans %}If you decide not to use the tags, please reply to this email
  to the user {% endtrans %}<p>
  <p>{%trans%}Otherwise, please <a href="{{ thread_url }}">visit the question</a>
  and apply the tags{%endtrans%}</p>
  <p>{%trans%}Thank you.{%endtrans%}</p>
{% endblock %}

{%block footer %}
{% include "email/footer.html" %}
{% endblock %}
