{% import "macros.html" as macros %}
{% if contributors %}
    {% cache 600 "contributors" contributors search_tags scope sort query context.page context.page_size language_code %}
    <div id="contrib-users" class="boxC">
    <h2>{% trans %}Contributors{% endtrans %}</h2>
    {% spaceless %}
        {% for person in contributors %}
            {{ macros.gravatar(person,48) }}
        {% endfor %}
    {% endspaceless %}
    </div>
    {% endcache %}
{% endif %}

{% if request.user.is_authenticated() %} 
   {% include "blocks/tag_selector.html" %}
{% endif %}

{% if tags %}
    {% cache 0 "tags" tags search_tags scope sort query context.page context.page_size language_code %}
    <div class="boxC">
        <h2>{% trans %}Related tags{% endtrans %}</h2>
        {% for tag in tags %}
        <span class="tag-size-{{ font_size[tag.name] }}">
            <a class="link-typeA" title="Number of entries: {{ tag.used_count }}" href="/questions/?tags={{ tag.name }}">{{ tag.name }}</a>
        </span>
        {% endfor %}
    </div>
    {% endcache %}
{% endif %}
