{% from "macros/user_macros.html" import user_country_flag, gravatar, user_score_and_badge_summary, user_website_link %}
{%- macro share(site = None, site_label = None, icon = False) -%}
    <a class="{{ site }}-share{% if icon == True %} icon{% endif %}"
        title="{% trans %}Share this question on {{site}}{% endtrans %}"
    >{% if icon == False %}{% if site_label %}{{ site_label }}{% else %}{{ site }}{% endif %}{% endif %}</a>
{%- endmacro -%}

{%- macro follow_toggle(follow, name, alias, id) -%}
    {# follow - boolean; name - object type name; alias - e.g. users name; id - object id #}
    <div 
        class="follow-toggle" 
        id="follow-{{ name }}-{{ id }}"
    >
        {% if follow %}
        <div class="follow">{% trans %}follow {{alias}}{% endtrans %}</div>
        {% else %}
        <div class="unfollow">
          <div class="unfollow-red">{% trans %}unfollow {{alias}}{% endtrans %}</div>
          <div class="unfollow-green">{% trans %}following {{alias}}{% endtrans %}</div>
        </div>
        {% endif %}
    </div>
{%- endmacro -%}

{%- macro post_contributor_avatar_and_credentials(post, user) -%}
    {% if post.is_anonymous %}
        <img alt="{% trans %}anonymous user{% endtrans %}" src="{{ '/images/anon.png'|media }} " class="gravatar" width="32" height="32" />
        <p>{{ user.get_anonymous_name() }}</p>
    {% else %}
        {{ gravatar(user, 32) }}
        {{ user.get_profile_link()}}{{ user_country_flag(user) }}<br/>
        {{ user_score_and_badge_summary(user) }}<br/>
        {{ user_website_link(user) }}
    {% endif %}
{%- endmacro -%}

{%- macro post_contributor_info(post, contributor_type, is_wiki, wiki_min_rep) -%}
{# there is a whole bunch of trickery here, probably indicative of 
poor design of the data or methods on data objects #}
{% if contributor_type=="original_author" %}
    <div class='post-update-info'>
    {% if is_wiki %}
        <p>
           {%- if post.post_type == 'question' -%}
                {%- trans %}asked{% endtrans %}
           {% elif post.post_type == 'answer' %}
                {%- trans %}answered{% endtrans %}
           {% else %}
                {%- trans %}posted{% endtrans %}
           {% endif %}
           <strong>{{post.added_at|diff_date}}</strong>
        </p>
        <img 
            src="{{'/images/wiki.png'|media}}"
            alt="{% trans %}this post is marked as community wiki{% endtrans %}"
            style="float:left"
        />
        <p class="tip">{% trans %}This post is a wiki.
        Anyone with karma &gt;{{wiki_min_rep}} is welcome to improve it.{% endtrans %}</p>
    {% else %}
        <p style="line-height:12px;">
            {# todo: access to class names needs to be removed here #}
            {% if post.post_type == 'question' %}
                {% trans %}asked{% endtrans %}
            {% elif post.post_type == 'answer' %}
                {% trans %}answered{% endtrans %}
            {% else %}
                {% trans %}posted{% endtrans %}
            {% endif %}
            {% if post.__class__.__name__ in ('QuestionRevision', 'AnswerRevision') %}
                <strong>{{post.revised_at|diff_date}}</strong>
            {% else %}
                <strong>{{post.added_at|diff_date}}</strong>
            {% endif %}
        </p>
        {{ post_contributor_avatar_and_credentials(post, post.author) }}
    {% endif %}
    </div>
{% elif contributor_type=="last_updater" %}
    {% if post.post_type in ('question', 'answer') %}
        {% set last_edited_at = post.last_edited_at %}
        {% set original_author = post.author %}
        {% set update_author = post.last_edited_by %}
    {% elif post.__class__.__name__ in ('QuestionRevision', 'AnswerRevision') %}
        {% set last_edited_at = post.revised_at %}
        {% set original_author = None %}{# fake value to force display widget in the revision views #}
        {% set update_author = post.author %}
    {% endif %}
    {% if last_edited_at %}
    <div class='post-update-info'>
        <p style="line-height:12px;">
            <a 
        {% if post.post_type == 'question' %}
            href="{% url question_revisions post.id %}"
        {% else %}
            href="{% url answer_revisions post.id %}"
        {% endif %}
            >{% trans %}updated{% endtrans %} <strong>{{ last_edited_at|diff_date }}</strong></a>
        </p>
        {% if original_author != update_author or is_wiki %}
            {{ post_contributor_avatar_and_credentials(post, update_author) }}
        {% endif %}
    </div>
    {% endif %}
{% endif %}
{%- endmacro -%}

{%- macro post_last_updater_and_creator_info(post, min_rep_to_edit_wiki) -%}
    {{ 
       post_contributor_info(
            post,
            "original_author",
            post.wiki,
            min_rep_to_edit_wiki
        )
    }}
    {{ 
        post_contributor_info(
            post,
            "last_updater",
            post.wiki,
            min_rep_to_edit_wiki,
        )
    }}
{%- endmacro -%}

{%- macro if_else(condition, if_true, if_false) -%}
    {%- if condition == True -%}
        {{if_true}}
    {%- else -%}
        {{if_false}}
    {%- endif -%}
{%- endmacro -%}

{%- macro tag_cloud(tags = None, font_sizes = None) -%}
    {% for tag in tags %}
    <span class="tag-size-{{ font_sizes[tag.name] }}">
        <a class="link-typeA" title="Number of entries: {{ tag.used_count }}" href="{% url questions %}?tags={{ tag.name }}">{{ tag.name }}</a>
    </span>
    {% endfor %}
{%- endmacro -%}

{%- macro tag_list_widget(
        tags,
        id = None,
        deletable = False,
        make_links = True,
        url_params = None,
        css_class = None,
        tag_css_class = None,
        tag_html_tag = 'li'
    )
-%}
<ul {% if id %}id="{{ id }}"{% endif %}
    class="tags{% if css_class %} {{css_class}}{% endif %}"
>
    {% if tags %}
        {% for tag in tags %}
            {{ tag_widget(
                tag,
                css_class = tag_css_class,
                deletable = deletable,
                is_link = make_links,
                url_params = url_params,
                html_tag = tag_html_tag 
            )}}
        {% endfor %}
    {% endif %}
</ul>
{%- endmacro -%}

{# todo: remove the extra content argument to make its usage more explicit #}
{%- macro tag_widget(
            tag,
            deletable = False,
            is_link = True,
            delete_link_title = None,
            css_class = None,
            url_params = None,
            html_tag = 'div',
            extra_content = ''
        )
-%}
    {% spaceless %}
    <{{ html_tag }} class="tag-left{% if deletable %} deletable-tag{% endif %}">
    <{% if not is_link or tag[-1] == '*' %}span{% else %}a{% endif %}
            class="tag tag-right{% if css_class %} {{ css_class }}{% endif %}"
            {% if is_link %}
            href="{% url questions %}?tags={{tag|urlencode}}{{ 
                                                        if_else(
                                                            url_params != None,
                                                            '&' ~ url_params,
                                                            ''
                                                        )|escape
                                                    }}"
            title="{% trans %}see questions tagged '{{ tag }}'{% endtrans %}"
            {% endif %}
            rel="tag"
        >{{ tag|replace('*', '&#10045;') }}</{% if not is_link or tag[-1] == '*' %}span{% else %}a{% endif %}>
        {% if deletable %}
            <span class="delete-icon"
                {% if delete_link_title %}
                    title="{{ delete_link_title }}"
                {% endif %}
            ></span>
        {% endif %}
    </{{ html_tag }}>
    {{ extra_content }}
    {% endspaceless %}
{%- endmacro -%}

{%- macro radio_select(name = None, value = None, choices = None) -%}
    {% for choice in choices %}
        <p class="choice">
            {% set id = "id_" ~ name ~ "_" ~ choice[0] %}
            <input 
                id="{{ id }}"
                name="{{ name }}"
                value="{{ choice[0] }}"
                type="radio"
                {% if value == choice[0] %}
                checked="checked"
                {% endif %}
            />
            <label for="{{ id }}">{{ choice[1] }}</label>
        </p>
    {% endfor %}
{%- endmacro -%}

{%- macro question_summary(question, extra_class=None) -%}
      <div class="short-summary{% if extra_class %} {{extra_class}}{% endif %}" id="question-{{question.id}}">
        <div class="counts">
            <div class="views
                 {% if question.view_count == 0 -%}
                    no-views
                 {% else -%}
                    some-views
                 {%- endif -%}">
                 <span class="item-count">{{question.view_count|humanize_counter}}</span>
                <div>
                {% trans cnt=question.view_count %}view{% pluralize %}views{% endtrans %}
                </div>
            </div>
            <div class="answers
                    {% if question.answer_count == 0 -%}
                        no-answers
                    {% else -%}
                        {%- if question.answer_accepted -%}
                            accepted
                        {%- else -%}
                            some-answers
                        {%- endif -%}
                    {%- endif -%}"> 
                <span 
                    class="item-count"
                >{{question.answer_count|humanize_counter}}{% if question.answer_accepted%}{% endif %}</span>
                <div>
                {% trans cnt=question.answer_count %}answer{% pluralize %}answers{% endtrans %}
                </div>
            </div>
            <div class="votes 
                        {% if question.score == 0 -%}
                            no-votes
                        {% else -%}
                            some-votes
                        {%- endif -%}">
                <span class="item-count">{{question.score|humanize_counter}}</span>
                <div>
                {% trans cnt=question.score %}vote{% pluralize %}votes{% endtrans %}
                </div>
            </div>
            
            <div style="clear:both"></div>
            <div class="userinfo">
                <span class="relativetime" title="{{question.last_activity_at}}">{{ question.last_activity_at|diff_date }}</span>
                {% if question.is_anonymous %}
                    <span class="anonymous">{{ question.last_activity_by.get_anonymous_name() }}</span>
                {% else %}
                    <a href="{% url user_profile question.last_activity_by.id, question.last_activity_by.username|slugify %}">{{question.last_activity_by.username}}</a>{{ user_country_flag(question.last_activity_by) }}
                {#{user_score_and_badge_summary(question.last_activity_by)}#}
                {% endif %}
            </div>
        </div>
        <h2><a title="{{question.summary|escape}}" href="{{ question.get_absolute_url() }}">{{question.get_question_title()|escape}}</a></h2>
        {{ tag_list_widget(question.get_tag_names()) }}
    </div>
{%- endmacro -%}

{%- macro comment_votes(comment = None) -%}
    <div class="comment-votes">
        {% if comment.score > 0 %}
        <div class="upvote{% if comment.upvoted_by_user %} upvoted{% endif %}">{{comment.score}}</div>
        {% else %}
        <div class="upvote"></div>
        {% endif %}
    </div>
{%- endmacro -%}

{# Warning! Any changes to the comment markup here must be duplicated in post.js
for the purposes of the AJAX comment editor #}

{%- macro comment_list(comments = None, user = None) -%}
    {% for comment in comments %}
    <div class="comment" id="comment-{{comment.id}}">
        {{ comment_votes(comment = comment) }}
        <div class="comment-delete">
            {% if user|can_delete_comment(comment) %}
                <span class="delete-icon" title="{% trans %}delete this comment{% endtrans %}"></span>
            {% endif %}
        </div>
        <div class="comment-body">
            {{comment.html}}
            <a 
                class="author" 
                href="{{comment.user.get_profile_url()}}"
            >{{comment.user.username}}</a>
            <span class="age">&nbsp;({{comment.added_at|diff_date}})</span>
            {% if user|can_edit_comment(comment) %}
                <a class="edit">{% trans %}edit{% endtrans %}</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{%- endmacro -%}

{%- macro add_or_show_comments_button(post = None, can_post = None, max_comments = None, widget_id = None) -%}
    <script type="text/javascript">
        askbot['data']['{{widget_id}}'] = {
            can_post: {% if can_post %}true{% else %}false{% endif %},
            truncated: {% if post.comment_count > max_comments %}true{% else %}false{% endif %}
        };
    </script>
    {% if post.comment_count > max_comments %}
        {% set remaining_comments = post.comment_count - max_comments %}
        <a class="button">
        {% if can_post %}
            {% trans %}add comment{% endtrans %} /
            {% trans counter=remaining_comments %}see <strong>{{counter}}</strong> more{% pluralize %}see <strong>{{counter}}</strong> more{% endtrans %}
        {% else %}
            {% trans counter=remaining_comments %}see <strong>{{counter}}</strong> more comment{% pluralize %}see <strong>{{counter}}</strong> more comments
            {% endtrans %}
        {% endif %}
        </a>
    {% elif can_post %}
        <a class="button">{% trans %}add comment{% endtrans %}</a>
    {% endif %}
{%- endmacro -%}

{%- macro post_comments_widget(
        post=None,
        show_post = None,
        show_comment = None,
        show_comment_position = None,
        user=None,
        max_comments=None
    )
-%}
    {% spaceless %}
    {% set widget_id = 'comments-for-' + post.post_type + '-' + post.id|string %}
    <div class="comments" id="{{widget_id}}">
        <div class="content">
            {% if show_post == post and show_comment %}
                {% if show_comment_position > max_comments %}
                    {% set comments = post.get_comments(visitor = user)[:show_comment_position] %}
                    {{ comment_list(comments = comments, user = user) }}
                {% else %}
                    {% set comments = post.get_comments(visitor = user)[:max_comments] %}
                    {{ comment_list(comments = comments, user = user) }}
                {% endif %}
            {% else %}
                {% set comments = post.get_comments(visitor = user)[:max_comments] %}
                {{ comment_list(comments = comments, user = user) }}
            {% endif %}
        </div>
        <div class="controls">
            {% set can_post = user|can_post_comment(post) %}
            {% if show_post == post and show_comment %}
                {% if show_comment_position > max_comments %}
                    {{
                        add_or_show_comments_button(
                                            post = post,
                                            can_post = can_post,
                                            max_comments = show_comment_position,
                                            widget_id = widget_id
                                        )
                    }}
                {% else %}
                    {{
                        add_or_show_comments_button(
                                            post = post,
                                            can_post = can_post,
                                            max_comments = max_comments,
                                            widget_id = widget_id
                                        )
                    }}
                {% endif %}
            {% else %}
                {{
                    add_or_show_comments_button(
                                        post = post,
                                        can_post = can_post,
                                        max_comments = max_comments,
                                        widget_id = widget_id
                                    )
                }}
            {% endif %}
        </div>
    </div>
    {% endspaceless %}
{%- endmacro -%}

{%- macro reversible_sort_button(button_sort_criterium=None, asc_tooltip=None,
            desc_tooltip=None, label=None, current_sort_method=None) -%}
{# 
    sort button where descending sort is default
    and the search method is togglable between ascending and descending 
    buttons are rendered as links with id constructed as
    "by_" + button_sort_criterium
    class "on" is added when current_sort_method is one of
    button_sort_criterium + "asc" or "desc"
#}
    {% set key_name = button_sort_criterium %}
    {% set sort = current_sort_method %}
    {% if sort == key_name + "-asc" %}{# "worst" first #}
    <a id="by_{{key_name}}" 
        href="?sort={{key_name}}-desc" 
        class="rev on" 
        title="{{desc_tooltip}}"><span>{{label}} &#9650;</span></a>
    {% elif sort == key_name + "-desc" %}{# "best first" #}
    <a id="by_{{key_name}}"
        href="?sort={{key_name}}-asc" 
        class="rev on"
        title="{{asc_tooltip}}"><span>{{label}} &#9660;</span></a>
    {% else %}{# default, when other button is active #}
    <a id="by_{{key_name}}"
        href="?sort={{key_name}}-desc" 
        class="off"
        title="{{desc_tooltip}}"><span>{{label}}</span></a>
    {% endif %}
    <script type="text/javascript">{# need to pass on text translations to js #}
        var sortButtonData = sortButtonData || {};
        sortButtonData["{{key_name}}"] = {
            label: "{{label}}",
            asc_tooltip: "{{asc_tooltip}}",
            desc_tooltip: "{{desc_tooltip}}"
        };
    </script>
{%- endmacro %}

{%- macro checkbox_in_div(checkbox_field, class = 'checkbox') -%}
    <div{% if class %} class="{{class}}"{% endif %}
        title="{{checkbox_field.help_text}}">
        {{ checkbox_field }} 
        {{ checkbox_field.label_tag() }} 
        {{ checkbox_field.errors }}
    </div>
{%- endmacro -%}

{%- macro edit_post(
                post_form,
                post_type = None,
                mandatory_tags = None,
                edit_title = False
            )
-%}
    {% if edit_title %}
        <div class="form-item">
            <label for="id_title" ><strong>{{ post_form.title.label_tag() }}:</strong></label> <span class="form-error"></span><br/>
            {{ post_form.title }} {{ post_form.title.errors }}
            <div class="title-desc">
                {{ post_form.title.help_text }}
            </div>
        </div>
    {% endif %}
    <div id="wmd-button-bar" class="wmd-panel"></div>
    <div class="form-item">
        {{ post_form.text }}{# this element is resizable and will be wrapped by js #}
        <label for="editor" class="form-error">{{ post_form.text.errors }}</label>
    </div>
    {# need label element for resizable input, b/c form validation won't find span #}
    {% if post_type == 'question' %}
        <div class="form-item">
            {% if mandatory_tags  %}
                <label for="id_tags">
                    <strong>{% trans %}tags{% endtrans %},</strong>
                    {% trans %}one of these is required{% endtrans %}
                </label>
                {{
                    tag_list_widget(
                        mandatory_tags,
                        make_links = False,
                        css_class = 'clearfix'
                    )
                }}
            {% else %}
                <label for="id_tags">
                    <strong>{% trans %}tags{% endtrans %}:</strong>
                    {% trans %}(required){% endtrans %}
                </label>
            {% endif %}
            <span class="form-error">{{ post_form.tags.errors }}</span><br/>
            {{ post_form.tags }}
            <div class="title-desc">
                {{ post_form.tags.help_text }}
            </div>
        </div>
    {% endif %}
    {% if 'summary' in post_form['fields'] %}
        <div class="form-item">
            <strong>{{ post_form.summary.label_tag() }}</strong> <br/>
            {{ post_form.summary }}
            <div class="title-desc">
                {{ post_form.summary.help_text }}
            </div>
            <div class="form-error" >{{ post_form.summary.errors }}</div>
        </div>
    {% endif %}
    <div class="preview-toggle">
        <span 
            id="pre-collapse" 
            title="{% trans %}Toggle the real time Markdown editor preview{% endtrans %}"
        >
            [{% trans %}hide preview{% endtrans %}]
        </span>
    </div>
    <div id="previewer" class="wmd-preview"></div>
{%- endmacro -%}

{%- macro tag_autocomplete_js(id = '#id_tags') -%}
    var tagAc = new AutoCompleter({
            url: '{% url "get_tag_list" %}',
            preloadData: true,
            minChars: 1,
            useCache: true,
            matchInside: true,
            maxCacheLength: 100,
            delay: 10
    });
    tagAc.decorate($("{{ id }}"));
{%- endmacro -%}

{%- macro answer_classes(answer, question) -%}
answer {% if answer.accepted %}accepted-answer{% endif %} {% if answer.author_id==question.author_id %} answered-by-owner{% endif %} {% if answer.deleted %}deleted{% endif -%}
{%- endmacro -%}
