{% extends "base_content.html" %}
{% load i18n %}
{% block title %}{% spaceless %}{% trans "Change email" %}{% endspaceless %}{% endblock %}
{% block content %}
<!-- changeemail.html action_type={{action_type}}-->
{% ifequal action_type "change" %}
    <div id="main-bar" class="headNormal">
        {% if user.email %}
            {% trans "Change email" %}
        {% else %}
            {% trans "Save your email address" %}
        {% endif %}
    </div>
    <p class="message">
        {% if user.email %}
            {% blocktrans %}change {{email}} info{% endblocktrans %}
        {% else %}
            {% blocktrans %}here is why email is required, see {{gravatar_faq_url}}{% endblocktrans %}
        {% endif %}
    </p>
    {% if msg %}
    <p class="error">{{ msg }}</p>
    {% endif %}

    <div class="aligned">
        <form action="." method="post" accept-charset="utf-8">
            {% if next %}
                <input type="hidden" name="next" value="{{next}}"/>
            {% endif %}
            <div class="form-row-vertical">
                <label for="id_email">{% if user.email %}{% trans "Your new Email" %}{% else %}{% trans "Your Email" %}{% endif %}</label>
                {% if form.email.errors %}
                <p class="error">{{form.email.errors|join:", "}}</p>
                {% endif %}
                {{ form.email }}
            </div>
            <div class="submit-row">
                <input class="submit" type="submit" name="change_email" value="{% if user.email %}{% trans "Change email" %}{% else %}{% trans "Save Email" %}{% endif %}">
                {% if user.email %}
                <input class="submit" type="submit" name="cancel" value="{% trans "Cancel" %}">
                {% endif %}
            </div>

        </form>
    </div>
{% endifequal %}
{% ifequal action_type "validate" %}
    <div id="main-bar" class="headNormal">
        {% trans "Validate email" %}
    </div>
    <p class="message">
        {% blocktrans %}validate {{email}} info or go to {{change_email_url}}{% endblocktrans %}
    </p>
{% endifequal %}
{% ifequal action_type "keep" %}
    <div id="main-bar" class="headNormal">
        {% trans "Email not changed" %}
    </div>
    <p class="message">
        {% blocktrans %}old {{email}} kept, if you like go to {{change_email_url}}{% endblocktrans %}
    </p>
{% endifequal %}
{% ifequal action_type "done_novalidate" %}
    <div id="main-bar" class="headNormal">
        {% trans "Email changed" %}
    </div>
    <p class="message">
        {% blocktrans %}your current {{email}} can be used for this{% endblocktrans %}
    </p>
{% endifequal %}
{% ifequal action_type "validation_complete" %}
    <div id="main-bar" class="headNormal">
        {% trans "Email verified" %}
    </div>
    <p class="message">
        {% trans "thanks for verifying email" %}
    </p>
{% endifequal %}
{% ifequal action_type "key_not_sent" %}
    <div id="main-bar" class="headNormal">
        {% trans "email key not sent" %}
    </div>
    <p class="message">
        {% blocktrans %}email key not sent {{email}} change email here {{change_link}}{% endblocktrans %}
    </p>
{% endifequal %}
{% endblock %}
<!-- end changeemail.html -->
