{% extends "base_content.html" %}
<!-- template about.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "About" %}{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
{% trans "About" %}
</div>

<div class="content">
	<p>Preguntalo.com.uy es una herramienta social para hacer preguntas y recibir respuestas
	de forma colectiva, incentivando a quienes aporten contenidos relevantes mediante un 
	sistema de reputación.</p>
	<p>Si haces una pregunta ques es votada por los usuarios como útil, recibiras
	puntos de reputación, también si respondes una pregunta, y más puntos aún si tu respuesta
	es aceptada como la correcta!</p>
	<p>Si tenés alguna duda, no dudes en preguntalo! :)</p>
</div>
{% endblock %}
<!-- end template about.html -->
