{% extends "base_content.html" %}
<!-- template about.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}
{% block title %}{% spaceless %}{% trans "About" %}{% endspaceless %}{% endblock %}
{% block forejs %}
{% endblock %}
{% block content %}
<div class="headNormal">
{% trans "About" %}
</div>

<div class="content">
    <!-- default text
	<p>edit file templates/about.html. Below are just suggestions of what can go here</p>
	<p>what is your site for?</p>
	<p>how does it work? what are roles of members?</p>
	<p>is there a place to find out more about this website?</p>
    -->
    <p>{% blocktrans %}<strong>CNPROG <span class="orange">Q&amp;A</span></strong> is a collaboratively edited question
            and answer site created for the <strong>CNPROG</strong> community.
    {% endblocktrans %}
    </p>
    <p>{% blocktrans %}Here you can <strong>ask</strong> and <strong>answer</strong> questions, <strong>comment</strong>
    and <strong>vote</strong> for the questions of others and their answers. Both questions and answers
    <strong>can be revised</strong> and improved. Questions can be <strong>tagged</strong> with
    the relevant keywords to simplify future access and organize the accumulated material.{% endblocktrans %}
    </p>

    <p>{% blocktrans %}This <span class="orange">Q&amp;A</span> site is moderated by its members, hopefully - including yourself!
    Moderation rights are gradually assigned to the site users based on the accumulated <strong>"reputation"</strong>
    points. These points are added to the users account when others vote for his/her questions or answers.
    These points (very) roughly reflect the level of trust of the community.{% endblocktrans %}
    </p>
    <p>No points are necessary to ask or answer the questions - so please -
    <strong><a href="{% url user_signin %}">join us!</a></strong>
    </p>
    <p>If you would like to find out more about this site - please see <strong><a href="{% url faq %}">frequently asked questions</a></strong>.
    </p>
</div>
{% endblock %}
<!-- end template about.html -->
