{% extends "user.html" %}
<!-- user_email_subscriptions.html -->
{% load i18n %}
{% load extra_tags %}
{% load humanize %}

{% block usercontent %}
    <h2>{% trans "Email subscription settings" %}</h2>
    <p class="message">{% trans "email subscription settings info" %}</p>
    <div class='inline-block'>
    {% if action_status %}
    <p class="action-status"><span>{{action_status}}</span></p>
    {% endif %}
    <form method="POST"> 
        {% include "edit_user_email_feeds_form.html" %}
        <table class='form-as-table'>
        {{tag_filter_selection_form}}
        </table>
        <div class="submit-row text-align-right">
            <input type="submit" class="submit" name="save" value="{% trans "Update" %}"/>
            <input type="submit" class="submit" name="stop_email" value="{% trans "Stop sending email" %}"/>
        </div>
    </form>
    </div>
{% endblock %}
<!-- end user_email_subscriptions.html -->
