{% extends "user.html" %}
<!-- user_stats.html -->
{% load i18n %}
{% load extra_tags %}
{% load extra_filters %}
{% load humanize %}
		{% block usercontent %}
	
        <a name="questions"></a>
        <h2><span class="count">{{questions|length}}</span> {% trans "User questions" %}</h2>
		{% include "users_questions.html" %}
        <a name="answers"></a>
        <h2><span class="count">{{answered_questions|length}}</span> {% trans "Answers" %}</h2>
        <div class="user-stats-table">
            {% for answered_question in answered_questions %}
            <div class="answer-summary">
                <a title="{{answered_question.summary|collapse}}" 
                    href="{% url questions %}{{answered_question.id}}/{{answered_question.title}}#{{answered_question.answer_id}}">
                    <span class="answer-votes {% if answered_question.accepted %}answered-accepted{% endif %}" 
						title="{% blocktrans with answered_question.vote_count as vote_count %}the answer has been voted for {{ vote_count }} times{% endblocktrans %} {% if answered_question.accepted %}{% trans "this answer has been selected as correct" %}{%endif%}">
                        {{ answered_question.vote_count }}
                    </span>
                </a>
                <div class="answer-link">
                    <a href="{% url question answered_question.id %}{{answered_question.title|slugify}}#{{answered_question.answer_id}}">{{answered_question.title}}</a> 
                    {% if answered_question.comment_count %}
                    <span>
				    {% blocktrans with answered_question.comment_count as comment_count %}the answer has been commented {{ comment_count }} times{% endblocktrans %}
                    </span> 
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        <a name="votes"></a>
        <h2><span class="count">{{total_votes}}</span> {% trans "Votes" %}</h2>
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="60">
                        <img style="cursor: default;" src="/content/images/vote-arrow-up-on.png" alt="{% trans "thumb up" %}" />
                            <span title="{% trans "user has voted up this many times" %}" class="vote-count">{{up_votes}}</span>

                    </td>
                    <td width="60">
                        <img style="cursor: default;" src="/content/images/vote-arrow-down-on.png" alt="{% trans "thumb down" %}" />
                            <span title="{% trans "user voted down this many times" %}" class="vote-count">{{down_votes}}</span>

                    </td>
                </tr>
            </table>
        </div>
        <a name="tags"></a>
        <h2><span class="count">{{tags|length}}</span> {% trans "Tags" %}</h2>
        <div class="user-stats-table">
            <table class="tags">
                <tr>
                    <td width="180" valign="top">
                        {% for tag in tags%}
                        <a rel="tag" 
							title="{% blocktrans %}see other questions tagged '{{ tag }}' {% endblocktrans %}" 
							href="{% url forum.views.tag tag|urlencode %}">{{tag.name}}</a><span class="tag-number"> × {{ tag.used_count|intcomma }}</span><br/>
                            {% if forloop.counter|divisibleby:"10" %}
                                </td>
                                <td width="180"  valign="top">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        <a name="badges"></a>
        <h2><span class="count">{{total_awards}}</span> {% trans "Badges" %}</h2>
        <div class="user-stats-table">
            <table>
                <tr>
                    <td width="180" style="line-height:35px">
                        {% for award in awards %}
                            <a href="{% url badges %}{{award.id}}/{{award.name}}" title="{{ award.description }}" class="medal"><span class="badge{{ award.type }}">&#9679;</span>&nbsp;{{ award.name }}</a><span class="tag-number"> &#x2715; {{ award.count|intcomma }}</span><br/>
                            {% if forloop.counter|divisibleby:"6" %}
                                </td>
                                <td width="180" style="line-height:35px">
                            {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>

{% endblock %}
<!-- end user_stats.html -->
