@import url(jquery.autocomplete.css);

body {
    background: #FFF;
    font-size: 14px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    color: #000;
    font-family: sans-serif;
}

div {
    margin: 0 auto;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, dl, dt, dd, form, img, p {
    margin: 0;
    padding: 0;
    border: none;
}

label {
    vertical-align: middle;
}

hr {
    border: none;
    border-top: 1px dashed #ccccce;
}

input, select {
    vertical-align: middle;
    font-family: Trebuchet MS, "segoe ui", Helvetica, "Microsoft YaHei", 宋 体, Tahoma, Verdana, MingLiu, PMingLiu, Arial, sans-serif;
}

p {
    margin-bottom: 13px;
    font-size: 14px;
    line-height: 140%;
    padding-left: 5px;
}

a {
    color: #333333;
    text-decoration: none;
    cursor: pointer;
}

.badges a {
    color: #763333;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 160%;
    padding: 10px 0 5px 5px;
}

.users-page h1, .tags-page h1 {
    float: left;
}

h2 {
    font-size: 140%;
    padding: 3px 0 3px 5px;
}

h3 {
    font-size: 120%;
    padding: 3px 0 3px 5px;
}

ul {
    list-style: disc;
    margin-left: 20px;
    padding-left: 0px;
    margin-bottom: 1em;
}

ol {
    list-style: decimal;
    margin-left: 30px;
    margin-bottom: 1em;
    padding-left: 0px;
}

td ul {
    vertical-align: middle;
}

li input {
    margin: 3px 3px 4px 3px;
}

pre {
    font-family: Consolas, Monaco, Liberation Mono, Lucida Console, Monospace;
    font-size: 100%;
    margin-bottom: 10px;
    overflow: auto;
    background-color: #F5F5F5;
    padding-left: 5px;
    padding-top: 5px;
    width: 671px;
    padding-bottom: 20px ! ie7;
}

code {
    font-family: Consolas, Monaco, Liberation Mono, Lucida Console, Monospace;
    font-size: 100%;

}

blockquote {
    margin-bottom: 10px;
    margin-right: 15px;
    padding: 10px 0px 1px 10px;
    background-color: #F5F5F5;
}

.content-wrapper {/* wrapper positioning class */
    width: 960px;
    margin: auto;
    position:relative;
}

#ab-header {
    margin-top: 0px;
    background: #FFF;
}

#ab-header .content-wrapper {
    height: 90px;/* same as logo height */
}

#CALeft {
    width: 710px;
    float: left;
    position: relative;
    padding: 0 5px 10px 5px;
}

#CARight {
    width: 230px;
    float: right;
    padding: 0 5px 10px 5px;
}

#CAFull {
    float: left;
    padding: 0 5px 10px 5px;
    width: 950px;
}

#ground {
    width: 100%;
    clear: both;
    border-top: 1px solid #000;
    padding: 6px 0 0 0;
    text-align: center;
    background: #777;
}

#ab-logo {
    padding: 0px 0px 0px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 90px;
    width: 70px;
}

#ab-meta-nav,
#ab-main-nav {
    position: absolute;
    left: 100px;
}

#ab-meta-nav {
    top: 0px;
    height: 20px;
    padding: 3px;
    margin: 0;
}

#ab-meta-nav a {
    height: 35px;
    text-align: right;
    margin-left: 20px;
    text-decoration: underline;
    color: #555555;
}

#ab-meta-nav a:first-child {
    margin-left: 0;
}

#ab-meta-nav a#ab-responses {
    margin-left: 3px;
}
#ab-meta-nav a img {
    vertical-align:middle;
    margin-bottom:2px;
}

#ab-meta-nav .user-info a {
    margin: 0;
    text-decoration: none;
}

#ab-main-nav {
    bottom: 0;
}

#ab-main-nav a {
    color: #333333;
    background-color: #fff0e0;
    border: 1px solid #888888;
    border-bottom: none;
    padding: 0px 12px 3px 12px;
    height: 25px;
    line-height: 30px;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 100;
    text-decoration: none;
    display: block;
    float: left;
}

#ab-main-nav a:hover {
    text-decoration: underline;
}

#ab-main-nav a.on {
    height: 24px;
    line-height: 28px;
    border-bottom: 1px solid #a40000;
    border-right: 1px solid #820000;
    border-top: 1px solid #d40000;
    border-left: 1px solid #d40000; /*background:#A31E39; */
    background: #b03a48;
    color: #FFF;
    font-weight: 800;
    text-decoration: none
}

#ab-main-nav a.special {
    font-size: 18px;
    color: #B02B2C;
    font-weight: bold;
    text-decoration: none;
}

#ab-main-nav a.special:hover {
    text-decoration: underline;
}

#searchBar {
    display:inline-block;
    background-color: #cccccc;/*888a85; /*#e9b96e;*/
    width:700px;
    border: 1px solid #aaaaaa;
    padding: 4px 5px 4px 4px;
}

#searchBar .searchInput, #searchBar .searchInputCancelable {
    font-size: 24px;
    line-height: 24px;
    height: 31px;
    margin: 0px 4px 0px 0px;
    padding: 5px 0 0 5px;
}

#searchBar .searchInput, #searchBar .searchInputCancelable {
    width: 607px;
}

#searchBar .searchInputCancelable {
    width: 564px;
}

#searchBar .searchBtn, #searchBar .cancelSearchBtn {
    font-size: 20px;
    color: #666;
    background-color: #eee;
    height: 40px;
    border: 1px solid #aaa;
    line-height: 22px;
    text-align: center;
    padding-bottom: 4px;
}

#searchBar .searchBtn {
    margin: 0px;
    width: 78px;
}

#searchBar .cancelSearchBtn {
    width: 40px;
    margin: 0px 3px 0px 0px;
}

#askFormBar {
    display:inline-block;
    background-color: #e3e3e3;/*888a85; /*#e9b96e;*/
    border: 1px solid #aaaaaa;
    padding: 4px 7px 5px 5px;
}
#askFormBar p {
    width: 685px;
    margin:0 0 5px 0;
}
#askFormBar .questionTitleInput {
    font-size: 24px;
    line-height: 24px;
    height: 36px;
    width: 680px;
    margin: 0px;
    padding: 5px 0 0 5px;
}

#question-list {
    float: left;
    background-color: #FFF;
    padding: 0;
    width: 100%;
}

.short-summary {
    position: relative;
    padding: 5px 2px 5px 2px;
    border-top: 1px dashed #ccccce;
    overflow: hidden;
    width: 702px;
    float: left;
}

.short-summary h2 {
    font-size: 16px;
    font-family: "Trebuchet MS", "segoe ui", arial, sans-serif;
}

.short-summary .userinfo .relativetime,
.short-summary .userinfo a {
    font-size: 11px;
    clear:both;
    font-weight: normal;
    color: #555;
}


.short-summary .userinfo {
    text-align:center;
    line-height:16px;
}

.short-summary .counts {
    float: right;
    margin: 2px 0 0 5px;
}

.short-summary .counts .item-count {
    border:1px solid #cccccc; 
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    padding:0px 5px 0px 5px;
    font-size: 17px;
    font-weight: 800;
}

.short-summary .counts .votes div,
.short-summary .counts .views div,
.short-summary .counts .answers div
{
    font-size: 12px;
    line-height:14px;
    color: #555;
}

.short-summary .tags {
    margin-top: 0;
}

.no-votes .item-count {
    background: white;
    color: gray;
}
.some-votes .item-count {
    background: #a3d0ff;
    color: #4a4a4a;
}
.no-answers .item-count {
    background: #b63333;
    color: yellow;
}
.some-answers .item-count {
    background: #ffed9c;
    color: #a4a4a4;
}
.accepted .item-count {
    background:#338333;
    color:#d0f5a9;
}
.no-views .item-count {
    background: gray;
    color: white;
}
.some-views .item-count {
    background: #ff8c8c;
    color: #4a4a4a;
}

.short-summary .votes,
.short-summary .answers,
.short-summary .views {
    text-align: center;
    margin: 0 3px;
    padding: 4px 2px 0px 2px;
    width: 46px;
    float: left;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.short-summary .views {
    width: 36px;
    padding-right: 0;
}

.short-summary h2 {
    padding-left: 0;
}

#question-table,
.answer-table {
    margin: 2px 0 10px 0;
    border-spacing: 0px;
}

.answer-table {
    border-bottom: 1px solid #bbb;
}

.evenMore {
    font-size: 14px;
    font-weight: 800;
}

.evenMore a {
    text-decoration: underline;
}

.boxC {
    background: white /*#cacdc6; /*f9f7ed;*/
    padding: 10px 10px 10px 15px;
    margin-bottom: 12px;
}

.boxC p {
    margin-bottom: 8px;
}

.boxC p.info-box-follow-up-links {
    text-align: right;
    margin: 0;
}

.boxC h2 {
    padding-left: 0;
}

.pager {
    clear:both;
    border-top: 1px solid #777;
    margin-top: 10px;
    margin-bottom: 16px;
}

.pagesize {
    margin-top: 10px;
    margin-bottom: 16px;
    float: right;
}

/** PAGINATOR **/
.paginator {
    padding: 5px 0 10px 0;
    font: normal 12px sans-serif;
}

.paginator .prev a, .paginator .prev a:visited,
.paginator .next a, .paginator .next a:visited {
    border: 1px solid #fff;
    background-color: #fff;
    color: #777;
    padding: 2px 4px 3px 4px;
    font: bold 100% sans-serif;
}

.paginator .prev {
    margin-right: .5em;
}

.paginator .next {
    margin-left: .5em;
}

.paginator .page a, .paginator .page a:visited, .paginator .curr {
    padding: .25em;
    font: normal .875em verdana;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 0em .25em;
    color: #777;
}

.paginator .curr {
    background-color: #777;
    color: #fff;
    border: 1px solid #777;
    font-weight: bold;
}

.paginator .page a:hover,
.paginator .curr a:hover,
.paginator .prev a:hover,
.paginator .next a:hover {
    color: #fff;
    background-color: #777;
    border: 1px solid #777;
    text-decoration: none;
}

.paginator .text {
    color: #777;
    padding: .3em;
    font: bold 100% sans-serif;
}

.paginator-container-left {
    padding: 5px 0 10px 0;
}

/* tag formatting is also copy-pasted in template
   askbot/models/__init__.py:format_instant_notification_email()
*/
.tags {
    font-family: sans-serif;
    line-height: 170%;
    display: block;
    margin-top: 5px;
}

#search-tags .tag {
    margin-left: 7px;
}

p.rss {
    float: right;
    font-size: 12px;
    color: #666;
    margin: 0 2px 0 0;
}

p.rss a {
    padding-left: 16px;
    background: url(../images/feed-icon-small.png) no-repeat;
}

.tags a,
.tags span.tag {
    white-space: nowrap;
    font-size: 11px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    background-color: #EEE;
    border-left: 3px solid #777;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 1px 8px 1px 8px;
    margin-right:3px;
}

.tags a:hover {
    background-color: #fFF;
    color: #333;
}

#question-list .tag {
    margin-right: 6px;
}

span.delete-icon {
    padding-left: 13px;
    margin-left: -2px;
    background: url(../images/close-small-dark.png) no-repeat;
}
span.delete-icon:hover {
    background: url(../images/close-small-hover.png) no-repeat;
}

.tag-number {
    font-weight: 700;
    font-family: sans-serif;
}

.marked-tags {
    margin: 5px 0;
}

.deletable-tag {
    margin-right: 3px;
    white-space: nowrap;
}

/* badges */
a.medal {
    font-size: 14px;
    line-height: 250%;
    font-weight: 800;
    color: #333;
    text-decoration: none;
    background: url(../images/medala.gif) no-repeat;
    border-left: 1px solid #EEE;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    padding: 4px 12px 4px 6px;
}

a:hover.medal {
    color: #333;
    text-decoration: none;
    background: url(../images/medala_on.gif) no-repeat;
    border-left: 1px solid #E7E296;
    border-top: 1px solid #E7E296;
    border-bottom: 1px solid #D1CA3D;
    border-right: 1px solid #D1CA3D;
}

/*Tabs*/
.tabBar {
    background-color: #FFF;
    border-bottom: 1px solid white;
    height: 30px;
    width: 100%;
    clear: both;
    margin-bottom: 3px;
    margin-top: 3px;
}

.tabBar h2 {
    float: left;
}

.tabsA, .tabsC {
    background-color: #FFF;
    float: right;
    position: relative;
    display: block;
    font-weight: bold;
    height: 20px;
}

/* tabsA - used for sorting */
.tabsA { float: right; }
.tabsC { float: left; }

.tabsA a.on, .tabsC a.on, .tabsA a:hover, .tabsC a:hover {
    background: #fff;
    color: #a40000;
    border-top: 1px solid #babdb6;
    border-left: 1px solid #babdb6;
    border-right: 1px solid #888a85;
    border-bottom: 1px solid #888a85;
    height: 24px;
    line-height: 26px;
    margin-top: 3px;
    padding: 0px 11px 0px 11px;
}

.tabsA a.on, tabsA a.on:hover {
   padding: 0px 6px 0px 11px;
}

.tabsA a, .tabsC a{
    background: #f9f7eb;
    border-top: 1px solid #eeeeec;
    border-left: 1px solid #eeeeec;
    border-right: 1px solid #a9aca5;
    border-bottom: 1px solid #888a85;
    color: #888a85;
    display: block;
    float: left;
    height: 20px;
    line-height: 22px;
    margin: 5px 0 0 4px;
    padding: 0 11px 0 11px;
    text-decoration: none;
}

.tabsA .label, .tabsC .label {
    float: left;
    font-weight: bold; 
    color: #777;
    margin: 8px 0 0 0px;
}

.tabsB a {
    background: #eee;
    border: 1px solid #eee;
    color: #777;
    display: block;
    float: left;
    height: 22px;
    line-height: 28px;
    margin: 5px 0px 0 4px;
    padding: 0 11px 0 11px;
    text-decoration: none;
}

.questions-related {
    font-weight: 700;
    word-wrap: break-word;
}

.questions-related p {
    line-height: 20px;
    margin-bottom: 10px;
    font-size: 100%;
}

.question-status {
    margin-top: 10px;
    padding: 20px;
    background-color: #F5F5F5;
    text-align: center;
}

.question-status h3 {
    font-size: 125%;
}

.question-body, .answer-body {
    min-height: 39px;
    line-height: 20px;
}

.question-body IMG, .answer-body IMG {
    max-width: 600px;
}

.vote-buttons {
    float: left;
    text-align: center;
    padding-top: 2px;
}

.vote-buttons IMG {
    cursor: pointer;
}

.vote-number {
    font-family: Arial;
    padding: 0px 0 3px 0;
    font-size: 140%;
    font-weight: bold;
    color: #777;
}

.question-img-upvote:hover {
    background: url(../images/vote-arrow-up-on.png)
}

.question-img-downvote:hover {
    background: url(../images/vote-arrow-down-on.png)
}

.question-img-favorite:hover {
    background: url(../images/vote-favorite-on.png)
}

.favorite-number {
    padding: 0px;
    font-size: 100%;
    font-family: Arial;
    font-weight: bold;
    color: #777;
}

.offensive-flag a {
    color: #777;
    padding: 3px;
    cursor: pointer;
}

.offensive-flag a:hover {
    background-color: #777;
    text-decoration: none;
    color: #fff;
}

.linksopt a {
    color: #777;
    padding: 3px;
    cursor: pointer;
}

.linksopt a:hover {
    background-color: #777;
    text-decoration: none;
    color: #fff;
}

.post-controls a {
    color: #777;
    padding: 3px;
    cursor: pointer;
    border: none;
    background: none;
    text-decoration: none;
}

.post-controls a:hover {
    background-color: #777;
    color: #fff;
}

.post-controls .sep {
    color: #ccc;
}

.comments {
    font-size: 12px;
    line-height: 15px;
    clear: both;
}

.comments div.controls {
    clear: both;
    background: url(../images/gray-up-arrow-h18px.png) no-repeat;
    width: 100%;
    padding-left: 12px;
    margin: 3px 0 20px 5px;
}

.comments textarea {
    display: block;
    height: 48px;
    width: 664px;
    margin: 0 0 4px 0;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 15px;
    padding: 2px 0 0 2px;
}

.comments input {
    margin-left: 10px;
    margin-top: 1px;
    vertical-align: top;
    width: 100px;
}

.comments .counter {
    display: inline-block;
    width: 245px;
    vertical-align: top;
}

.comments .controls a {
    color: #888888;
    padding: 0 3px 2px;
}

.comments .controls a:hover {
    background-color: #777777;
    color: white;
    text-decoration: none;
}

span.text-counter {
    margin-right: 20px;
}

span.form-error {
    color: #990000;
    font-weight: normal;
    margin-left: 5px;
}

p.form-item {
    margin: 0px;
}

div.comments {
    padding: 0;
}

.comments .button {
    color: black;
    font-size: 11px;
    background: #eeeeee;
    padding: 3px;
    cursor: pointer;
}

.comment a {
    background-color: inherit;
    color: blue;
    padding: 0;
}

.comment a.author, a.author:hover {
    background-color: inherit;
    color: blue;
    padding: 0;
}

.comment a.author:hover {
    text-decoration: underline;
}

.accepted-answer {
    background-color: #EBFFE6;
    border-bottom-color: #9BD59B;
}

.accepted-answer .comments .button {
    background-color: #CCFFBF;
}

.accepted-answer .comments {
    background-color: #CCFFBF;
}

.answered {
    background: #CCC;
    color: #999;
}

.answered-accepted {
    background: #CCC;
    color: #763333;
}

.answered-by-owner {
    background: #E9E9FF;
}

.answered-by-owner .comments .button {
    background-color: #E6ECFF;
}

.answered-by-owner .comments {
    background-color: #E6ECFF;
}

.answered-accepted strong {
    color: #E1E818;
}

.answer-img-accept:hover {
    background: url(../images/vote-accepted-on.png)
}

.deleted {
    background: #F4E7E7 none repeat scroll 0 0;
}

/* tags */
.tagsList {
    margin: 0;
    list-style-type: none;
    padding: 0px;
    padding-left: 5px;
}

.tagsList li {
    width: 235px;
    float: left;
}

.boxC ul {
    margin-left: 15px;
}

.boxC li {
    list-style-type: disc;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
}

/* openid styles */
.form-row {
    line-height: 25px;
}

table.form-as-table {
    margin-top: 5px;
}

table.form-as-table ul {
    list-style-type: none;
    display: inline;
}

table.form-as-table li {
    display: inline;
}

table.form-as-table td {
    text-align: right;
}

table.form-as-table th {
    text-align: left;
    font-weight: normal;
}

table.ab-subscr-form {
    width: 45em;
}

table.ab-tag-filter-form {
    width: 45em;
}

.submit-row {
    line-height: 30px;
    padding-top: 10px;
    display: block;
    clear: both;
}

.errors {
    line-height: 20px;
    color: red;
}

.error {
    color: darkred;
    margin: 0;
    font-size: 10px;
}

label.retag-error {
    color: darkred;
    padding-left: 5px;
    font-size: 10px;
}

.fieldset {
    border: none;
    margin-top: 10px;
    padding: 10px;
}

.openid-input {
    background: url(../images/openid.gif) no-repeat;
    padding-left: 15px;
    cursor: pointer;
}

.openid-login-input {
    background-position: center left;
    background: url(../images/openid.gif) no-repeat 0% 50%;
    padding: 5px 5px 5px 15px;
    cursor: pointer;
    font-family: Trebuchet MS;
    font-weight: 300;
    font-size: 150%;
    width: 500px;
}

.openid-login-submit {
    height: 40px;
    width: 80px;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid #777;
    font-weight: bold;
    font-size: 120%;
}

span.form-error {
    color: #990000;
    font-size: 90%;
    font-weight: normal;
    margin-left: 5px;
}

.title-desc {
    color: #666666;
    font-size: 90%;
}

/*adjustment for editor preview*/
#editor {
    font-size: 100%;
    min-height: 200px;
    line-height: 18px;
    width: 697px;
    margin:0;
}

#id_title {
    width: 100%;
}

.wmd-preview {
    margin: 0;
    padding: 6px;
    width: 691px;
    background-color: #F5F5F5;
    min-height: 20px;
}

.wmd-preview pre {
    background-color: #E7F1F8;

}

.wmd-preview blockquote {
    background-color: #eee;
}

.wmd-preview IMG {
    max-width: 600px;
}

.preview-toggle {
    width: 100%;
    color: #666; /*letter-spacing:1px;*/
    text-align: left;
}

.preview-toggle span:hover {
    cursor: pointer;
}

.after-editor {
    margin-top: 10px;
}

.edit-content-html {
    border-top: 1px dotted #D8D2A9;
    border-bottom: 1px dotted #D8D2A9;
    margin: 5px 0 5px 0;
}

.revision {
    margin: 10px 0 10px 0;
    width: 100%;
    font-size: 13px;
}

.revision .header {
    background-color: #eee;
    padding: 5px;
    cursor: pointer;
}

.revision .author {
    background-color: #E9E9FF;
}

.revision .summary {
    padding: 5px 0 10px 0;
}

.revision .summary span {
    background-color: yellow;
    padding-left: 3px;
    padding-right: 3px;
    display: inline;
}

.revision h1 {
    font-size: 130%;
    font-weight: 600;
    padding: 15px 0 15px 0;
}

.revision-mark {
    width: 200px;
    text-align: left;
    display: inline-block;
    font-size: 90%;
    overflow: hidden;
}

.revision-number {
    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
}

.revision .answerbody {
    padding: 10px 0 5px 10px;
}

/* Revision pages */
del {
    color: #FF5F5F;
}

del .post-tag {
    color: #FF5F5F;
}

ins {
    background-color: #97ff97;
}

ins .post-tag {
    background-color: #97ff97;
}

/*用户资料页面*/
.count {
    font-family: Arial;
    font-size: 200%;
    font-weight: 700;
    color: #777
}

.scoreNumber {
    font-family: Arial;
    font-size: 35px;
    font-weight: 800;
    color: #777;
    line-height: 40px; /*letter-spacing:0px*/
}

.user-details {
    font-size: 13px;
}

.user-about {
    background-color: #EEEEEE;
    height: 200px;
    line-height: 20px;
    overflow: auto;
    padding: 10px;
    width: 90%;
}

.favorites-count-off {
    color: #919191;
    float: left;
    padding: 3px;
    margin: 10px 0 0 0;
    text-align: center;
}

.favorites-count {
    color: #D4A849;
    float: left;
    padding: 3px;
    margin: 10px 0 0 0;
    text-align: center;
}

/* todo: get rid of this in html */
.favorites-empty {
    width: 32px;
    height: 45px;
    float: left;
}

.user-info-table {
    margin-bottom: 10px;
    border-spacing: 0;
}

/* todo: remove this hack? */
.user-stats-table .narrow {
    width: 660px;
}

.narrow .summary h3 {
    padding: 0px;
    margin: 0px;
}

.relativetime {
    font-weight: bold;
    text-decoration: none;
}

.narrow  .tags {
    float: left;
}

.answer-summary {
    display: block;
    clear: both;
    padding: 3px;
}

.answer-votes {
    background-color: #EEEEEE;
    color: #555555;
    float: left;
    font-family: Arial;
    font-size: 110%;
    font-weight: bold;
    height: 15px;
    padding: 4px 4px 5px;
    text-align: center;
    text-decoration: none;
    width: 20px;
    margin-right: 10px;
}

.vote-count {
    font-family: Arial;
    font-size: 160%;
    font-weight: 700;
    color: #777;
}

/* todo: make these more semantic */
.user-action-1 {
    font-weight: bold;
    color: #333;
}

.user-action-2 {
    font-weight: bold;
    color: #CCC;
}

.user-action-3 {
    color: #333;
}

.user-action-4 {
    color: #333;
}

.user-action-5 {
    color: darkred;
}

.user-action-6 {
    color: darkred;
}

.user-action-7 {
    color: #333;
}

.user-action-8 {
    padding: 3px;
    font-weight: bold;
    background-color: #CCC;
    color: #763333;
}

.revision-summary {
    background-color: #FFFE9B;
    padding: 2px;
}

.question-title-link a {
    font-weight: bold;
    color: #0077CC;
}

.answer-title-link a {
    color: #333;
}

/* todo: make these more semantic */
.post-type-1 a {
    font-weight: bold;

}

.post-type-3 a {
    font-weight: bold;

}

.post-type-5 a {
    font-weight: bold;
}

.post-type-2 a {
    color: #333;
}

.post-type-4 a {
    color: #333;
}

.post-type-6 a {
    color: #333;
}

.post-type-8 a {
    color: #333;
}

.hilite {
    background-color: #ff0;
}

.hilite1 {
    background-color: #ff0;
}

.hilite2 {
    background-color: #f0f;
}

.hilite3 {
    background-color: #0ff;
}

.gold, .badge1 {
    color: #FFCC00;
}

.silver, .badge2 {
    color: #CCCCCC;
}

.bronze, .badge3 {
    color: #CC9933;
}

.score {
    font-weight: 800;
    color: #333;
}

.footerLinks {
    color: #EEE;
    font-size: 13px; /* letter-spacing:1px;*/
}

.footerLinks a {
    color: #FFF;
    font-size: 13px;
}

a.comment {
    background: #EEE;
    color: #993300;
    padding: 5px;
}

a.offensive {
    color: #999;
}

.user {
    padding: 5px;
    line-height: 140%;
    width: 170px;
}

.user ul {
    margin: 0;
    list-style-type: none;
}

.user .thumb {
    clear: both;
    float: left;
    margin-right: 4px;
    display: inline;
}

.message {
    padding: 5px;
    margin: 10px 0 10px 0;
    background-color: #eee;
    border: 1px solid #aaaaaa;
}

.message h1 {
    padding-top: 0px;
    font-size: 15px;
}

.message p {
    margin-bottom: 0px;
}

p.space-above {
    margin-top: 10px;
}

.warning {
    color: red;
}

.darkred {
    color: darkred;
}

button::-moz-focus-inner {
    padding:0;
    border:none;
}
.submit {
    cursor: pointer; /*letter-spacing:1px;*/
    background-color: #D4D0C8;
    height: 40px;
    border: 1px solid #777777; /*	width:100px; */
    font-weight: bold;
    padding-bottom: 4px;
    font-size: 120%;
}

.submit:hover {
    text-decoration: underline;
}

.submit.small {
    margin-right:5px;
    height:20px;
    font-weight:normal;
    font-size:12px;
    padding:1px 5px;
}
.submit.small:hover {
    text-decoration:none;
}

.ask-body {
    padding-right: 10px;
}

.notify {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    padding: 0;
    text-align: center;
    font-weight: Bold;
    color: #444;
    background-color: #F4A83D;
}

.notify p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
}

#close-notify {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0 3px 0 3px;
    color: #735005;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    background-color: #FAD163;
    border: 2px #735005 solid;
    cursor: pointer;
}

#close-notify:hover {
    text-decoration: none;
}

.big {
    font-size: 15px;
}

.strong {
    font-weight: bold;
}

.orange {/* used in django.po */
    color: #d64000;
    font-weight: bold;
}

.grey {
    color: #808080;
}

.about div {
    padding: 10px 5px 10px 5px;
    border-top: 1px dashed #aaaaaa;
}

.highlight {
    background-color: #FFF8C6;
}

.nomargin {
    margin: 0;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.inline-block {
    display: inline-block;
}

.action-status {
    margin: 0;
    border: none;
    text-align: center;
    line-height: 10px;
    font-size: 12px;
    padding: 0;
}

.action-status span {
    padding: 3px 5px 3px 5px;
    background-color: #fff380; /* nice yellow */
    font-weight: normal;
    -moz-border-radius: 5px;
    -khtml-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.list-table td {
    vertical-align: top;
}

.comment {
    border-top: 1px dotted #ccccce;
    margin: 0;
    color: #444;
    padding: 2px 3px 5px 3px;
}

.delete-icon {
    vertical-align: middle;
    padding-left: 1px;
    margin-bottom:3px;
}

/* these need to go */
table.form-as-table .errorlist {
    display: block;
    margin: 0;
    padding: 0 0 0 5px;
    text-align: left;
    font-size: 10px;
    color: darkred;
}

table.form-as-table input {
    display: inline;
    margin-left: 4px;
}

table.form-as-table th {
    vertical-align: bottom;
    padding-bottom: 4px;
}

.form-row-vertical {
    margin-top: 8px;
    display: block;
}

.form-row-vertical label {
    margin-bottom: 3px;
    display: block;
}

/* above stuff needs to go */
.text-align-right {
    text-align: center;
}

ul.form-horizontal-rows {
    list-style: none;
    margin: 0;
}

ul.form-horizontal-rows li {
    position: relative;
    height: 40px;
}

ul.form-horizontal-rows label {
    display: inline-block;
}

ul.form-horizontal-rows ul.errorlist {
    list-style: none;
    color: darkred;
    font-size: 10px;
    line-height: 10px;
    position: absolute;
    top: 2px;
    left: 180px;
    text-align: left;
    margin: 0;
}

ul.form-horizontal-rows ul.errorlist li {
    height: 10px;
}

ul.form-horizontal-rows label {
    position: absolute;
    left: 0px;
    bottom: 6px;
    margin: 0px;
    line-height: 12px;
    font-size: 12px;
}

ul.form-horizontal-rows li input {
    position: absolute;
    bottom: 0px;
    left: 180px;
    margin: 0px;
}

.narrow .summary {
    float: left;
}

.user-profile-tool-links {
    padding-bottom: 10px;
    font-weight: bold;
}

.post-controls, .post-tags {
    font-size: 11px;
    line-height: 12px;
    min-width: 200px;
    padding-left: 5px;
    margin-bottom: 5px;
}

.post-controls {
    float: left;
}

.post-tags {
    margin-bottom:8px;
}

.post-retag {
    margin-bottom:0px;
}

#question-controls .tags {
    margin: 0 0 3px 0;
}

.post-update-info-container {
    float: right;
    min-width: 85px;
}

.post-update-info {
    display: inline-block;
    float: right;
    width: 190px;
    margin-bottom: 5px;
}

.post-update-info p {
    font-size: 11px;
    line-height: 15px;
    margin: 0 0 4px 0;
    padding: 0;
}

.post-update-info img {
    float: left;
    margin: 4px 8px 0 0;
}


.post-update-info p.tip {
    color: #444;
}

#tagSelector {
    padding-bottom: 2px;
    margin-bottom: 0;
}

#related-tags {
    padding-left: 3px;
}

#hideIgnoredTagsControl {
    margin: 5px 0 0 0;
}

#hideIgnoredTagsControl label {
    font-size: 12px;
    color: #666;
}

#hideIgnoredTagsCb {
    margin: 0 2px 0 1px;
}

#recaptcha_widget_div {
    width: 318px;
    float: left;
    clear: both;
}

p.signup_p {
    margin: 20px 0px 0px 0px;
}

.simple-subscribe-options ul {
    list-style: none;
    list-style-position: outside;
    margin: 0;
}

/* a workaround to set link colors correctly */
.answer-body a {
    color:#0000ff;
}
.question-body a {
    color:#0000ff;
}
.question-body li {
    margin-bottom:0.7em;
}
.answer-body li {$
    margin-bottom:0.7em;
}
.wmd-preview a {
    color:#0000ff;
}
.wmd-preview li {
    margin-bottom:0.7em;
}

.karma-summary {
    padding:5px;
    font-size:13px;
}

.karma-summary h3 {
    text-align: center;
    font-weight: bold;
    padding:5px;
}

.karma-diagram {
    width:377px;
    height:300px;
    float:left;
    margin-right:10px;
}

.karma-details {
    float:right;
    width:300px;
    height:250px;
    overflow-y:auto;
    word-wrap:break-word;
}

.karma-gained {
    font-weight:bold;
    background:#eee;
    width:20px;
    color:green;
    padding:5px;
}

.karma-lost {
    font-weight:bold;
    background:#eee;
    width:20px;
    color:red;
    padding:5px;
}

.search-result-summary {
    font-weight: bold;
    font-size:18px;
    line-height:22px;
    margin:0px 0px 0px 0px;
    padding:2px 0 0 0;
    float: left;
}
.search-tips {
    font-size:12px;
    line-height:12px;
    color: #555;
    margin:0 0 5px 0;
    padding:0px;
    clear:both;
}
.search-tips a {
    text-decoration: underline;
    color: #555;
}

.faq-rep-item { 
    text-align:right;
    padding-right:5px; 
}

img.gravatar {
    margin:2px;
}
.user-info-table .gravatar {
    margin:0;
}

.vote-notification {
    z-index: 1;
    cursor: pointer;
    display: none;
    position: absolute;
    padding: 15px;
    color: white;
    background-color: darkred;
    text-align: center;
}

.vote-notification a {
    color: white;
    text-decoration: underline;
}

#responses {
    clear:both;
    line-height:18px;
    margin-bottom:15px;
}

#responses div.face {
    float:left;
    text-align: center;
    width: 54px;
    padding: 3px;
    overflow:hidden;
}

.re {
    min-height: 57px;
    clear: both;
}

#responses input {
    float:left;
}
#re_tools {
    margin-bottom:10px;
}
#re_sections {
    margin-bottom:6px;
}
#re_sections .on {
    font-weight:bold;
}

.fb-share, .twitter-share {
    background: url(../images/sprite.png) no-repeat;
    text-indent:-100em;
    width:25px;
    height:25px;
    display:block;
}
.fb-share {
    background-position: -25px 0px;
}
.twitter-share {
    margin-top:10px;
    background-position: 0px 0px;
}
/* Pretty printing styles. Used with prettify.js. */

a.edit {
    padding-left:3px;
    color: #145bff;
}

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }
pre.prettyprint { padding: 3px; border: 0px solid #888; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}
