{% extends "one_column_body.html" %}
<!--signup.html-->
{% block title %}{% spaceless %}{% trans %}Signup{% endtrans %}{% endspaceless %}{% endblock %}
{% block forestyle %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{"/jquery-openid/openid.css"|media}}"/>
{% endblock %}
{% block content %}
<h1>{% trans %}Create login name and password{% endtrans %}</h1>
{%if settings['PASSWORD_REGISTER_SHOW_PROVIDER_BUTTONS'] == True %}
<form id="signin-form" method="post" action="{% url user_signin %}">
        {{login_form.login_provider_name}}
        <div id="login-icons">
            <ul class="login-icons large">
                {% for login_provider in major_login_providers %}
                
                {%if settings['SIGNIN_' + login_provider.name.upper() + '_ENABLED'] == True%}
                  <li>
                      <input
                          name="{{login_provider.name}}"
                          type="image"
                          class="{{login_provider.type}}"
                          src="{{login_provider.icon_media_path|media}}"
                          alt="{{login_provider.tooltip_text}}"
                          title="{{login_provider.tooltip_text}}"
                      />
                  </li>
                {%endif%}
                {% endfor %}
            </ul>
            <ul class="login-icons small">
                {% for login_provider in minor_login_providers %}
                {%if settings['SIGNIN_' + login_provider.name.upper() + '_ENABLED'] == True%}
                <li>
                    <input
                        name="{{login_provider.name}}"
                        type="image"
                        class="{{login_provider.type}}"
                        src="{{login_provider.icon_media_path|media}}"
                        alt="{{login_provider.tooltip_text}}"
                        title="{{login_provider.tooltip_text}}"
                    />
                </li>
                {%endif%}
                {% endfor %}
            </ul>
        </div>
      </form>
{%endif%}
<p class="message">{% trans %}Traditional signup info{% endtrans %}</p>
<form action="{% url user_signup_with_password %}" method="post" accept-charset="utf-8">
    {{form.login_provider}}
    <ul class="form-horizontal-rows">
    <li><label for="usename_id">{{form.username.label}}</label>{{form.username}}{{form.username.errors}}</li>
    <li><label for="email_id">{{form.email.label}}</label>{{form.email}}{{form.email.errors}}</li>
    <li><label for="password1_id">{{form.password1.label}}</label>{{form.password1}}{{form.password1.errors}}</li>
    <li><label for="password2_id">{{form.password2.label}}</label>{{form.password2}}{{form.password2.errors}}</li>
    </ul>
    <p class="margin-top">{% trans %}receive updates motivational blurb{% endtrans %}</p>
    <div class='simple-subscribe-options'>
    {{email_feeds_form.subscribe}}
    {% if email_feeds_form.errors %}
    <p class="error">{% trans %}please select one of the options above{% endtrans %}</p>
    {% endif %}
    </div>
    <p class="signup_p">{% trans %}Please read and type in the two words below to help us prevent automated account creation.{% endtrans %}</p>
    {{form.recaptcha}}
    <div class="submit-row"><input type="submit" class="submit" value="{% trans %}Create Account{% endtrans %}" /> 
    <strong>{% trans %}or{% endtrans %}
    <a href="{% url user_signin %}">{% trans %}return to OpenID login{% endtrans %}</a></strong></div>
</form>
{% endblock %}
{% block endjs %}
{%if settings['PASSWORD_REGISTER_SHOW_PROVIDER_BUTTONS'] == True %}
    <script type='text/javascript' src='{{"/js/jquery.validate.min.js"|media}}'></script>
    <script type="text/javascript" src="{{"/jquery-openid/jquery.openid.js"|media}}"></script>
    <script type="text/javascript">
        var extra_token_name = {};
        var create_pw_text = {};
        var change_pw_text = {};
        var authUrl = '/{% trans %}account/{% endtrans %}';
        var siteName = '{{settings.APP_SHORT_NAME}}';
        var provider_count = {{existing_login_methods|length}};
        {% for login_provider in major_login_providers %}
            {%if settings['SIGNIN_' + login_provider.name.upper() + '_ENABLED'] == True %}
              {% if login_provider.extra_token_name %}
                  extra_token_name['{{login_provider.name}}'] = '{{login_provider.extra_token_name}}';
              {% endif %}
              {% if login_provider.type == 'password' %}
                  create_pw_text['{{login_provider.name}}'] = '{{login_provider.create_password_prompt}}';
                  change_pw_text['{{login_provider.name}}'] = '{{login_provider.change_password_prompt}}';
              {% endif %}
            {% endif %}
        {% endfor %}
        {% for login_provider in minor_login_providers %}
            {%if settings['SIGNIN_' + login_provider.name.upper() + '_ENABLED'] == True%}
              {% if login_provider.extra_token_name %}
                  extra_token_name['{{login_provider.name}}'] = '{{login_provider.extra_token_name}}';
              {% endif %}
              {% if login_provider.type == 'password' %}
                  create_pw_text['{{login_provider.name}}'] = '{{login_provider.create_password_prompt}}';
                  change_pw_text['{{login_provider.name}}'] = '{{login_provider.change_password_prompt}}';
              {% endif %}
            {% endif %}
        {% endfor %}
        {% if user.is_authenticated() %}
            var userIsAuthenticated = true;
        {% else %}
            var userIsAuthenticated = false;
        {% endif %}
        $("body").authenticator();
        {% if settings.DISPLAYLOCAL and settings.SIGNIN_LOCAL_ENABLED %}
        $('input.password').attr({'style': 'display:none'});
        {%endif%}
    </script>
    {% if settings.FACEBOOK_KEY and settings.FACEBOOK_SECRET %}
    <div id="fb-root"></div>
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        $(document).ready(function(){
            if (typeof FB != 'undefined'){
                var ret = FB.init({appId: '{{settings.FACEBOOK_KEY}}', status: true, cookie: true, xfbml: true});
                FB.Event.subscribe('auth.sessionChange', function(response){
                        if (response.session) {
                        // A user has logged in, and a new cookie has been saved
                            $('#signin-form').submit();
                        } else {
                        // The user has logged out, and the cookie has been cleared
                        }
                });
            };
        });
    </script>
    {% endif %}
{% endif %}
{% endblock %}
<!--end signup.html-->
