{% extends "one_column_body.html" %}
<!--signup.html-->
{% block title %}{% spaceless %}{% trans %}Signup{% endtrans %}{% endspaceless %}{% endblock %}
{% block content %}
<h1>{% trans %}Create login name and password{% endtrans %}</h1>
<p class="message">{% trans %}Traditional signup info{% endtrans %}</p>
<form action="{% url user_signup_with_password %}" method="post" accept-charset="utf-8">
    {{form.login_provider}}
    <ul class="form-horizontal-rows">
    <li><label for="usename_id">{{form.username.label}}</label>{{form.username}}{{form.username.errors}}</li>
    <li><label for="email_id">{{form.email.label}}</label>{{form.email}}{{form.email.errors}}</li>
    <li><label for="password1_id">{{form.password1.label}}</label>{{form.password1}}{{form.password1.errors}}</li>
    <li><label for="password2_id">{{form.password2.label}}</label>{{form.password2}}{{form.password2.errors}}</li>
    </ul>
    <p class="margin-top">{% trans %}receive updates motivational blurb{% endtrans %}</p>
    <div class='simple-subscribe-options'>
    {{email_feeds_form.subscribe}}
    {% if email_feeds_form.errors %}
    <p class="error">{% trans %}please select one of the options above{% endtrans %}</p>
    {% endif %}
    </div>
    <p class="signup_p">{% trans %}Please read and type in the two words below to help us prevent automated account creation.{% endtrans %}</p>
    {{form.recaptcha}}
    <div class="submit-row"><input type="submit" class="submit" value="{% trans %}Create Account{% endtrans %}" /> 
    <strong>{% trans %}or{% endtrans %}
    <a href="{% url user_signin %}">{% trans %}return to OpenID login{% endtrans %}</a></strong></div>
</form>
{% endblock %}
<!--end signup.html-->
